
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}
.links li {
  margin-bottom: 5px;
}
.bottom-text {
  margin-top: 40px;
  border-top: 2px solid #CCC;
}
.bottom-text a {
  border-bottom: 1px solid #CCC;
}
.bottom-text p {
  max-width: 650px;
}
.open-popup a:hover {
    color:#fff;
}
.open-popup {
	padding:10px;
	font-size:14px;
	background:#0395E2;
	text-decoration: none;
	color:#fff;
	text-transform:uppercase;
	font-weight:bold;
	border:none;
	border-radius:5px;
}
button.mfp-close, button.mfp-arrow{
	font-weight:bold;
}
.otp_lbl{
/*	 margin-left: -66px;
    margin-top: -58px;*/
	font-weight:bold;
	text-transform:uppercase;
}
.white-popup {
  position: relative;
  background: #FFF;
  width: auto;
  padding: 25px;
  width: auto;
  max-width: 300px;
  margin: 20px auto;
  text-align: center;
  height:230px;
}
.text-otp {
    height: 27px;
}
.mdl-button{
	 cursor: pointer;
    display: inline-block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    height: 35px;
    margin-left: 10px;
    text-transform: uppercase;
}
.mdl-button--accent.mdl-button--accent.mdl-button--fab, .mdl-button--accent.mdl-button--accent.mdl-button--raised{
	 background-color: hsl(201, 97%, 45%);
    color: hsl(0, 0%, 100%);
    font-weight: bold;
	border:none;
	border-radius:5px;
}
#otp_message,.otp_note{
	margin-left: -9px;
    margin-top: 10px;
    text-align: left;
}
.txtbox{
	margin-top:20px;
	margin-left:-14px;
	display:inline-flex;
        text-align:center;
        width: 100%;
}
#otp_message #sucess{
	color:#008000;
}
.otp_lbl span,.otp_note span{
	color:#000;
}
#otp_message #fail{
	color:#ff0000;
}

.button.verify_otp{
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 0 5px;
    width: 50%;
}

.button.resend_otp{
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 3px 5px;
    width: 50%;
}