 	body{
		overflow-x:hidden;
	}
	.disc li a{
		font-weight:800;
	}
	.std dl dt {
		font-weight:900;
	}
	.last{
		margin-bottom:11px;
	}
	.sidebar{
		margin-top:6px;
	}
	@media only screen and (min-width:986px) and (max-width:1199px){
		.top-link ul.links li{
			margin-right:-11px;
		}
		.products-grid .item{
			text-align:center !important;
		}
		.cart .totals,.cart .discount{
			width:250px !important;
		}
		.tab_container .products-grid .product-name{
			text-align:center !important;
		}
		.product-name{
			text-align: center !important;
			}
				p.product-name{
			text-align: left !important;
			}
			.price-box{
				float:none !important
			}
			.products-grid .item-inner .actions{
				text-align:center !important;
			}
	}
	@media only screen and (min-width:768px) and (max-width:985px){
			.checkout-cart-index .cart-collaterals-total{
				margin-top:6px !important;
			}
			.top-cart-wrapper{
				height: 31px !important;
			}
			.currency-language{
				margin-left:40px;
			}
			.product-name{
				text-align:center !important;
			}
			.footer address{
				margin:0px !important;
			}
			p.welcome-msg{
				display:inline-block !important;
			}
			p.product-name{
				text-align: left !important;
			}
			.price-box{
				float:none !important
			}
			.availability-price .price-box{
				display:block;
				text-align:center;
			}
			.product-view .product-shop .availability{
				font-size: 14px;
				text-align: center !important;
				float: none !important;
				margin: 0 !important;
			}
			.product-view .product-options dd select{
				width:160px !important;
			}
			.product-options-bottom .add-to-cart{
				margin-left:17px;
			}
			.products-grid .item-inner .actions{
				text-align:center !important;
			}
			.products-grid .item{
				text-align:center !important;
			}
			.product-view .product-shop .short-description{
				text-align:center;
			}
			.tab_container .products-grid .product-name{
				text-align:center !important;
				width:100%;
			}
	}
	@media only screen and (min-width:320px) and (max-width:767px){
			.form-list li.wide .input-box { width:250px !important; }
			.label-pro-new{
				right:195px !important;	
			}
			p.product-name{
			text-align: left !important;
			}
			button.button{
				display:block;
			}
		.product-name{
			text-align: center !important;
			}
			.products-grid .item-inner .actions{
				text-align:center !important;
				margin:0px;
			}
			.top-cart-wrapper{
				height: 31px !important;
			}
			.footer address{
				text-align:center;
			}
			.box-footer{
				text-align:center !important;
			}
			.cart-mobile .top-cart-wrapper{
				padding:8px 5px 8px 25px !important;
			}
			/* .link-mobile{
				right:173px;
				top:94px;
			}
			.cart-mobile{
				margin:0 0 0 29px !important;
			} */
			.top-cart-content{
				right:-5px !important;
			}
			.products-grid .item{
				text-align:center !important;
			}
			/* 	.products-grid .actions .button{
			display:block !important;
		}	 */
			.form-list li.wide input.input-text{
				width:250px !important; 
			}
			.form-list select{
				width:250px !important;
			}
			p.welcome-msg{
				display:inline-block !important;
			}
			.fieldset{
				padding:25px 0px 0px 20px !important;
			}
			.price-box{
				float:none !important
			}
			.availability-price .price-box{
				display:block;
				text-align:center;
			}
			.product-view .product-shop .availability{
				font-size: 14px;
				text-align: center !important;
				float: none !important;
				margin: 0 !important;
			}
			.product-view .product-options dd select{
				width:160px !important;
			}
			.product-options-bottom .add-to-cart{
				margin-left:17px;
			}
			.product-view .product-shop .short-description{
				text-align:center;
			}
			.category-products .products-grid .item-inner .item-box-hover{
				padding:0px;
				display:table-caption !important;
			}
	}
	
@media only screen and (max-width:320px){
	.catalog-product-view #lightbox #outerImageContainer{
		width: 300px !important; 
		height: 370px !important;
	}
	.catalog-product-view #lightbox #imageDataContainer{
		width: 300px !important; 
	}
	#bottomNav #bottomNavClose{
		margin-left:-70px;
	}
	.label-pro-new{
		right:60px !important;	
	}
	#hoverNav #nextLink{
		margin-right:30px;
	}
	.products-grid{
		margin-left:-10px !important;
	}
	
	.form-list select{
		width:250px !important;
	}
	.form-list li div.input-box .input-text{
		width:250px !important;
	}
}
@media only screen and (min-width:640px) and (max-width:767px){
	.label-pro-new{
		right:240px !important;	
	}
}
@media only screen and (width:480px){
	.header-phone{
		margin-left:40px !important;
	}
	.catalog-product-view #lightbox #outerImageContainer{
		width: 420px !important; 
		height: 515px !important;
	}
	.catalog-product-view #lightbox #imageDataContainer{
		width: 420px !important; 
	}
	.label-pro-new{
		right:130px !important;	
	}
	.form-list li{
		margin:0 19px 8px !important;
	}
/* 	.advanced-search{
		padding:22px 25px 12px 6px !important;
	} */
}
@media only screen and (min-width:480px){
	.link-mobile{
		margin-left:13px;
	}
	.advanced-search .form-list label{
		width:189px !important;
	}
	.form-list li.wide textarea{
		width:400px !important;
	}
	.tab_container .products-grid .item-inner{
		width:auto !important;
	}
	.form-list li.wide input.input-text{
		width:254px !important; 
	}
	.form-list select{
		width:254px !important;
	}
	
}
#small-dialog {
    background: white none repeat scroll 0 0;
    margin: 40px auto;
    padding: 20px 30px;
    position: relative;
    text-align: left;
    width: 675px;        
}
#small-dialog div.page-title{display:none;}
#small-dialog div.main-content{display:none;}
#small-dialog div.store_title.field{display:none;}

/**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;

	-webkit-transition: all 0.2s ease-in-out; 
	-moz-transition: all 0.2s ease-in-out; 
	-o-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out; 



	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;

	-webkit-transform: scale(1); 
	-moz-transform: scale(1); 
	-ms-transform: scale(1); 
	-o-transform: scale(1); 
	transform: scale(1); 
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 

	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out; 
	-moz-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}



/**
 * Fade-move animation for second dialog
 */

/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

	-webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );

}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-moz-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-ms-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-o-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;

	-webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;

	-webkit-transition: opacity 0.3s ease-out; 
	-moz-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}