	<?php
		function cut_string4($string,$number){
			if(strlen($string) <= $number) {
				return $string;
			}
			else {	
				if(strpos($string," ",$number) > $number){
					$new_space = strpos($string," ",$number);
					$new_string = substr($string,0,$new_space)."..";
					return $new_string;
				}
				$new_string = substr($string,0,$number)."..";
				return $new_string;
			}
		}
	?>
<?php if($this->getConfig('enabled')){ // start enable module?> 
	<?php $this->getProducts() ?>
	<?php $_productCollection=$this->getProductCollection() ?>
	<div class="ma-mostview-products category-products">  <!-- start mt products list -->
		<?php if($this->getConfig('title')){?>
			<div class="ma-mostview-title"><h2><?php echo $this->getConfig('title')?></h2></div>
		<?php }?>
		<?php if(!$_productCollection->count()): ?> <!-- start if exist product -->
			<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
		<?php else: ?>
			<div class="mostview-products">
			    <?php $_collectionSize = $_productCollection->count() ?>
			    <?php if( !$this->getConfig('items') ) { $_columnCount = 1 ; } else { $_columnCount = $this->getConfig('items'); }?>
			    <?php $i=0; foreach ($_productCollection as $_product): ?>
			        <?php if ( $i++ % $_columnCount==0): ?>
			        <ul class="products-grid row <?php if( $i == 1 ) echo ' first';?>">
			        <?php endif ?>
			        	<?php 
			        		if ( !$this->getConfig('width') ){
			        			$w=135;
			        		} else {
			        			$w = $this->getConfig('width');
			        		}
			        		if( !$this->getConfig('height') ){
			        			$h=135;
							 }
			        		else {
			        			$h = $this->getConfig('height');
			        		}
			        	?>
			            <li class="col-md-4 col-sm-6 col-sms-12 item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
			                <?php
						$newFromDate = Mage::getModel('catalog/product')->load($_product->getID())->getNewsFromDate();
						$newToDate = Mage::getModel('catalog/product')->load($_product->getID())->getNewsToDate();                 
						$now = date("Y-m-d H:m:S");
						// Get the Special Price
						$specialprice = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialPrice(); 
						// Get the Special Price FROM date
						$specialPriceFromDate = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialFromDate();
						// Get the Special Price TO date
						$specialPriceToDate = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialToDate();
						// Get Current date
						if ($specialprice&&($specialPriceFromDate <= $now && $specialPriceToDate >= $now)&& Mage::getStoreConfig('themeoptions/themeoptions_config/sale_label')){
						 echo '<div class="label-pro-sale"></div>';
						}else{
						 if($newFromDate <= $now && $newToDate >= $now && Mage::getStoreConfig('themeoptions/themeoptions_config/new_label') ) {
						       echo '<div class="label-pro-new"></div>';
						 }
						}
					       ?>
					<div class="item-inner">
						<div class="box-item">
					<div class="product-content">
							<div class="products">
								<article class="product">
								<figure> 
                                                                     <?php if($_product->isSaleable()): 
                                                                        $productUrl = $_product->getProductUrl();
                                                                    else: 
                                                                        $productUrl = "javascript:void(0)";
                                                                    endif;  ?>
								    <a href="<?php echo $productUrl ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
									    <div class="product-image">
										    <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize(500); ?>" width="500" height="500" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
									    </div>
									    <div class="product-image image-rotator">
										    <?php 
										    $product = Mage::getModel('catalog/product')->load($_product->getId());
										    if ($product->getRotatorImage() && $product->getRotatorImage() !='no_selection') {
											    //$imageTooltipResize = $this->getResizedUrl($imagetTooltip,600,400);
											    $image = Mage::helper('catalog/image')->init($product, 'rotator_image')->keepFrame(false)->resize(500, 500);
											?>
											<img src="<?php echo $image ?>" width="500" height="500" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
											<?php } ?>
									     </div>	
                                                                            <div class="image-wishlist">
                                                                                <a  href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><img title="Save to Wishlist" src="<?php echo $this->getSkinUrl('images/wishlist.png'); ?>" /></a>
                                                                            </div>
								    </a>
								</figure>
								</article>
							</div>
						</div>
			                <h2 class="product-name"><a href="<?php echo $productUrl ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a></h2>
                                        <div class="review-price">
                                             <?php if ($this->getConfig('show_price')) { ?>
                                                <?php echo $this->getPriceHtml($_product, true) ?>
                                            <?php } ?>
                                        </div>		
			                <div class="price-label">
                                            <div class="box-price-hover">
                                                    <?php echo $this->getPriceHtml($_product, true) ?>
                                            </div>
					</div>
					<div class="item-box-hover">	
						<?php /* <div class="box-inner">
								<?php if ($this->getConfig('addtocart')) { ?>
                                                                    <?php if($_product->isSaleable()): ?>
                                                                            <button type="button" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('+ Add to Cart') ?></span></span></button>
                                                                    <?php else: ?>
                                                                            <p class="availability out-of-stock"><span><?php echo $this->__('Coming Soon') ?></span></p>
                                                                    <?php endif; ?>
                                                                    <?php }?>
                                                                    <div class="actions">
                                                                        <?php if($_product->isSaleable()): ?>
									<?php if( $this->getConfig('addtowishlist') || $this->getConfig('addtocompare')){?>
                                                                                <ul class="add-to-links">
                                                                                        <?php if( $this->getConfig('addtowishlist')){?>
                                                                                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                                                                                <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('+ Wishlist') ?></a></li>
                                                                                        <?php endif; ?>
                                                                                        <?php } ?>
                                                                                        <?php if( $this->getConfig('addtocompare') ){?>
                                                                                        <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                                                                                                <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('+ Compare') ?></a></li>
                                                                                        <?php endif; ?>
                                                                                        <?php }?>
                                                                                </ul>
                                                                    <?php }?>
                                                                    <?php endif; ?>
								</div>
						</div> */ ?>
                                                <div class="actions">
                                            <?php if ($_product->isSaleable()): ?>
                                                <?php $productName = $_product->getName(); ?>
                                                <?php $productUrl = $_product->getProductUrl(); ?>
                                                <?php $productImage = $_product->getImageUrl() ?>
                                                <?php if ($this->getConfig('addtocart')) { ?>
                                                        <button type="button" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('+ Add to Cart') ?></span></span></button>
                                                <?php } ?>
                                                <ul class="product_social_like">
                                                    <li>
                                                        <a href="javascript:popWin('https://plus.google.com/share?url=<?php echo urlencode($productUrl); ?>', 'google', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="<?php echo $this->__('Share on Google Plus') ?>">
                                                            <img src="<?php echo $this->getSkinUrl('images/gplus.png', array('_secure' => true)); ?>" />
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:popWin('https://www.facebook.com/sharer/sharer.php?u=<?php echo urlencode($productUrl); ?>&t=<?php echo urlencode($productName); ?>', 'facebook', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="<?php echo $this->__('Share on Facebook') ?>">
                                                            <img src="<?php echo $this->getSkinUrl('images/facebook.png', array('_secure' => true)); ?>" />
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:popWin('http://twitter.com/home/?status=<?php echo urlencode($productName . ' (' . $productUrl . ')'); ?>', 'twitter', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="<?php echo $this->__('Tweet') ?>">
                                                            <img src="<?php echo $this->getSkinUrl('images/twitter.png', array('_secure' => true)); ?>" />
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:popWin('https://pinterest.com/pin/create/button/?url=<?php echo urlencode($productUrl); ?>&media=<?php echo urlencode($productImage); ?>&description=<?php echo urlencode($productName); ?>', 'pinterest', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="<?php echo $this->__('Pin it') ?>">
                                                            <img src="<?php echo $this->getSkinUrl('images/pinterest.png', array('_secure' => true)); ?>" />
                                                        </a>
                                                    </li>
                                                </ul>

                                            <?php else: ?>
                                                <p class="availability out-of-stock"><span><?php echo $this->__('Coming Soon') ?></span></p>
                                            <?php endif; ?>
                                        </div>
					</div>	
			                <?php if( $this->getConfig('description')){?>
			                <div class="ma-desc">
			                	<?php if(!$this->getConfig('maxlength')){?>
			                    	<?php echo nl2br($this->htmlEscape($_product->getShortDescription())) ?>
			                    <?php } else {?>
			                    	<?php echo nl2br(cut_string4($this->htmlEscape($_product->getShortDescription()),$this->getConfig('maxlength'))) ?>			            
			                    <?php }?>			                    
			                </div>
			                <?php }?>
					</div>
					</div>
			            </li>
			        <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
			        </ul>
		        <?php endif ?> <!--  -->
		        <?php endforeach ?>
		        <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>			
			</div>		
		<?php endif; ?> <!-- end exist product -->
	</div> <!-- end products list -->
<?php } ?>


