
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->toHtml() ?></div>
<div class="page-title">
    <br/><br/>
    <h1><?php echo Mage::helper('bulkinquiry')->__('Bulk Inquiry') ?></h1>
</div>
<br/>
<div class="col-md-12" style="float:left;width:100%;">
    <br/>
    <h2><b>Why Order with CampusYaari</b></h2>
    <hr style="margin:10px 0px 10px 0px;">
    <ul class="order_with_campusyaari">
        <li><b>Quality :</b> We have tested and finalized some of the best quality materials for your design. Instead of doing with cheap pricing and going low on quality, we make Tshirts and Sweat Shirts which are going to stay long and stay strong with you. </li> 
        <li><b>Design :</b> Our design team can help you designing your T-shirts/Sweat shirts or can create complete design for you and we can execute your created design as well. </li>
        <li><b>Payments made easy :</b> You can pay by Net-banking , credit card , debit card with  our payment partner  Razorpay at the same time we have Cash On Delivery facility for you.</li>
        <li><b>Delivery :</b> We deliver products across India , over  230 cities. We have national delivery partners to make products reach to you in time.</li>
    </ul>
</div>
<div class="clear"></div>
<?php
$product_color = array("1" => "White", "2" => "Black", "3" => "Red",
    "4" => "Maroon", "5" => "Sky Blue", "6" => "Navy Blue", "7" => "Royal Blue", "8" => "Golden Yellow",
    "9" => "Parrot Green", "10" => "Bottle Green", "11" => "Biege", "12" => "Light Grey", "13" => "Dark Grey",
);
?>
<div class="col-md-12 no-padding">
    <div class="col-md-8">
        <form action="<?php echo Mage::getUrl('*/*/post'); ?>" id="bulkinquiryForm" enctype="multipart/form-data" method="post">
            <div class="fieldset">
                <h2 class="legend"><?php echo Mage::helper('bulkinquiry')->__('Product Information') ?></h2>
                <br/>
                <ul class="form-list">
                    <!--            <li class="fields">
                                    <h3 style="font-weight:bold;">1. What Product You Looking For ?</h3>
                                    <ul class="bulk_options">
                                        <li><input type="radio" name="product[]" value="1" id="product1" > <b>T-shirt</b></li>
                                        <li><input type="radio" name="product[]" value="2" id="product1" > <b>Cap</b></li>
                                        <li><input type="radio" name="product[]" value="3" id="product1" > <b>Hoodie</b></li>
                                        <li><input type="radio" name="product[]" value="4" id="product1" > <b>Trousers</b></li>
                                    </ul>
                                    <br/>
                                </li>-->
                    <li class="fields">
                        <h3 style="font-weight:bold;">1. Select Options of T-shirt. </h3>
                        <ul class="bulk_options">
                            <li><input type="radio" class="validate-one-required-by-name" name="product_options[]" value="1" id="product_options1" > Round Neck T-Shirt </li>
                            <li><input type="radio" class="validate-one-required-by-name" name="product_options[]" value="2" id="product_options2" > Polo T-Shirts</li>
                            <li><input type="radio" class="validate-one-required-by-name" name="product_options[]" value="3" id="product_options3" > Sweat Shirt / Hoodie</li>
                        </ul>
                        <br/>
                    </li>
                    <li class="fields" style="display: none;">
                        <h3 style="font-weight:bold;">2. Select Product Colors of T-shirt. </h3>
                        <ul class="bulk_options bulk_colors" style="width:50%;">
                            <?php foreach ($product_color as $keys => $values) { ?>
                                <li><input type="radio" class="validate-one-required-by-name" name="product_color[]" value="<?= $values; ?>" id="product_color<?= $keys; ?>"> <b><?= $values; ?></b></li>
                            <?php }
                            ?>
                        </ul>
                        <br/>
                    </li> 
                    <li class="fields">
                        <h3 style="font-weight:bold;">3. Select Product Sizes and Qty of T-shirt. </h3>
                        <ul class="size_qty">
                            <li>
                                <input type="checkbox" class="product_sizes_checkbox validate-one-required" name="product_sizes[1][size]" value="Small" id="product_sizes1"> 
                                <b>Small</b>
                                <input type="text" class="product_sizes_checkbox_qty required-entry product_size validate-greater-than-zero" name="product_sizes[1][qty]" placeholder="Qty" id="product_sizes_1_qty"> 
                            </li>
                            <li><input type="checkbox" class="product_sizes_checkbox validate-one-required" name="product_sizes[2][size]" value="Medium" id="product_sizes2"> 
                                <b>Medium</b>
                                <input type="text" class="product_sizes_checkbox_qty required-entry product_size validate-greater-than-zero" name="product_sizes[2][qty]" placeholder="Qty" id="product_sizes_2_qty"> 
                            </li>
                            <li><input type="checkbox" class="product_sizes_checkbox validate-one-required" name="product_sizes[3][size]" value="Large" id="product_sizes3"> 
                                <b>Large</b>
                                <input type="text" class="product_sizes_checkbox_qty required-entry product_size validate-greater-than-zero" name="product_sizes[3][qty]" placeholder="Qty" id="product_sizes_3_qty"> 
                            </li>
                            <li><input type="checkbox" class="product_sizes_checkbox validate-one-required" name="product_sizes[4][size]" value="X-Large" id="product_sizes4"> 
                                <b>X-Large</b>
                                <input type="text" class="product_sizes_checkbox_qty required-entry product_size validate-greater-than-zero" name="product_sizes[4][qty]" placeholder="Qty" id="product_sizes_4_qty"> 
                            </li>
                            <li><input type="checkbox" class="product_sizes_checkbox validate-one-required" name="product_sizes[5][size]" value="XX-Large" id="product_sizes4"> 
                                <b>XX-Large</b>
                                <input type="text" class="product_sizes_checkbox_qty required-entry product_size validate-greater-than-zero" name="product_sizes[5][qty]" placeholder="Qty" id="product_sizes_5_qty"> 
                            </li>
                            <!--                            <li></li>-->
                            <li><b style="width:90px;padding-left:25px;">Total Qty :</b>
                                <input type="text" readonly="readonly" class="product_sizes_checkbox_qty_total validate-greater-than-zero validate-number-range" name="product_sizes[total]"  placeholder="Qty" id="product_sizes_total"> 
                                <div class="minimum_qty_validation validation-advice" style="display:none;">Please enter a minimum 20 Qty</div>
                            </li>
                        </ul>   
                        <br/>
                    </li>
                    <li class="fields">
                        <h3 style="font-weight:bold;">4. Value Addition of any ?</h3>
                        <ul class="product_addition">
                            <li>
                                <b>Embroidery : </b>
                                <input type="checkbox" name="product_addition[1][front]" value="1" id="product_color1"> Front
                                <input type="checkbox" name="product_addition[1][back]" value="2" id="product_color1"> Back
                            </li>
                            <li>
                                <b>Graphic Print : </b>
                                <input type="checkbox" name="product_addition[2][front]" value="1" id="product_color1"> Front
                                <input type="checkbox" name="product_addition[2][back]" value="2" id="product_color1"> Back
                            </li>
                        </ul>
                    </li>
                    <li class="fields">
                        <h3 style="font-weight:bold;">5. Attach logo file or reference image.</h3>
                        <ul class="product_addition">
                            <li>
                                <input type="file" name="product_attachment[]" multiple="multiple" id="product_attachment">
                            </li>
                        </ul>
                    </li>
                    <li class="fields">
                        <h3 style="font-weight:bold;">6. Additional Information ?</h3>
                        <div class="input-box">
                            <textarea name="information" id="information" title="<?php echo Mage::helper('quote')->__('Additional Information') ?>" class="input-text" style="width:315px;" cols="12" rows="3"></textarea>
                        </div>
                        <br/>
                    </li>
                </ul>
                <!--            </div>
                            <div class="fieldset">
                                <h2 class="legend"><?php //echo Mage::helper('bulkinquiry')->__('Contact Information')        ?></h2>-->
                <h2><b><?php echo Mage::helper('bulkinquiry')->__('Contact Information') ?></b></h2>
                <hr style="margin:10px 0px 10px 0px;">
                <br/>
                <ul class="form-list">
                    <li class="fields">
                        <div class="field">
                            <label for="name" class="required"><em>*</em><?php echo Mage::helper('bulkinquiry')->__('Name') ?></label>
                            <div class="input-box">
                                <input name="name" id="name" title="<?php echo Mage::helper('bulkinquiry')->__('Name') ?>" value="" class="input-text required-entry" type="text" />
                            </div>
                        </div>
                        <div class="field">
                            <label for="email_id" class="required"><em>*</em><?php echo Mage::helper('bulkinquiry')->__('Email') ?></label>
                            <div class="input-box">
                                <input name="email_id" id="email_id" title="<?php echo Mage::helper('bulkinquiry')->__('Email') ?>" value="" class="input-text required-entry validate-email" type="text" />
                            </div>
                        </div>
                    </li>
                    <li class="fields">
                        <div class="field">
                            <label for="state" class="required"><em>*</em><?php echo Mage::helper('bulkinquiry')->__('State') ?></label>
                            <div class="input-box">
                                <input name="state" id="state" title="<?php echo Mage::helper('bulkinquiry')->__('State') ?>" value="" class="input-text required-entry" type="text" />
                            </div>
                        </div>
                        <div class="field">
                            <label for="city" class="required"><em>*</em><?php echo Mage::helper('bulkinquiry')->__('City') ?></label>
                            <div class="input-box">
                                <input name="city" id="city" title="<?php echo Mage::helper('bulkinquiry')->__('City') ?>" value="" class="input-text required-entry" type="text" />
                            </div>
                        </div>
                    </li>
                    <li class="fields">
                        <div class="field">
                            <label for="phone_number" class="required"><em>*</em><?php echo Mage::helper('bulkinquiry')->__('Contact Number') ?></label>
                            <div class="input-box">
                                <input name="phone_number" id="phone_number" title="<?php echo Mage::helper('bulkinquiry')->__('Contact Number') ?>" value="" class="input-text required-entry validate-digits validate-length maximum-length-10 minimum-length-10" type="text" />
                            </div>
                        </div>
                        <div class="field">
                            <label for="delivery_location" class="required"><em>*</em><?php echo Mage::helper('bulkinquiry')->__('Delivery Location') ?></label>
                            <div class="input-box">
                                <input name="delivery_location" id="delivery_location" title="<?php echo Mage::helper('bulkinquiry')->__('Delivery Location') ?>" class="input-text required-entry" type="text" />
                            </div>
                        </div>
                    </li>
                    <li class="wide">
                        <label for="message" class="required"><em>*</em><?php echo Mage::helper('bulkinquiry')->__('Message') ?></label>
                        <div class="input-box">
                            <textarea name="message" id="message" title="<?php echo Mage::helper('bulkinquiry')->__('message') ?>" class="required-entry input-text" cols="5" rows="3"></textarea>
                        </div>
                    </li>
                </ul>
            </div>        
            <div class="buttons-set">
                <p class="required"><?php echo Mage::helper('bulkinquiry')->__('* Required Fields') ?></p>
                <button type="submit" title="<?php echo Mage::helper('bulkinquiry')->__('Submit') ?>" class="button"><span><span><?php echo Mage::helper('bulkinquiry')->__('Submit') ?></span></span></button>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <br/>
        <h1><b>Pricing</b></h1>
        <hr style="margin:10px 0px 10px 0px;">
        <p>Prices are calculated on the bases of Mono Color print with Lower limit price and upper limit price, depends on quantity and design.</p>
        <p><b>Round Neck 100% cotton T-Shirt :</b> Rs 180 to 290 </p>
        <p><b>Polo Neck T-shirt :</b> Rs. 270 to 390</p>
        <p><b>Sweat Shirt  with hood and pocket :</b> Rs . 480 to 720</p>
        <br/>
        <h2><b>The cost of product depends on following things : </b></h2>
        <ul class="pricing_content">
            <li>Quantity : Number of items Ordered</li>
            <li>Print : Number of Colors in the print and sides </li>
            <li>Delivery Location </li>
        </ul>
        <br/>
        <h2><b>The best way to cut down the cost is : </b></h2>
        <ul class="pricing_content">
            <li>Increase the quantity </li>
            <li>If option 1 is not feasible then use less colors </li>
            <li>Use KISS principal : Keep It Simple & Sexy</li>
        </ul>
        <br/>
        <h2><b>Process : </b></h2>
        <p>Fill in the form below and our team will contact you in 24 hours or you can write to <a href="mailto:connect@campusyaari.com">connect@campusyaari.com</a></p>
    </div>
</div>
<style type="text/css">
    ul.size_qty li input[type="radio"]{float: left;width: 30px;}
    ul.size_qty li input[type="text"]{width: 60px;padding:0px 5px;}
    ul.size_qty li input[type="checkbox"]{float: left;width: 25px}
    ul.size_qty li b{width: 60px;float: left;font-weight:normal;}
    .bulk_options li {width: auto;float: left;padding: 0px 10px 0px 15px;}
    .bulk_options li b{padding-top:2px;}
    .bulk_colors li{width:25%;}
    ul.bulk_options li input[type="radio"]{margin-top:0px;}
    ul.product_addition li input[type="checkbox"]{margin-left:5px;margin-top:0px;}
    ul.product_addition li b{width:100px;float:left;font-weight:normal;}
    #bulkinquiryForm{float: left;width: 100%;}
    #bulkinquiryForm h3{font-size:15px;}
    ul.size_qty{float:left;width:100%;margin-top:6px;}
    ul.size_qty li .validation-advice{display:none}
    ul.size_qty li {width: 25%;float: left;}
    .order_with_campusyaari li{list-style-type: disc;margin-left: 15px;padding:5px 0px;}
    .pricing_content li{list-style-type:decimal;margin-left: 15px;}
    .bulkinquiry-index-index .header-container-inner{margin-bottom:0px;}
    
</style>
<script type="text/javascript">

    $bq = jQuery.noConflict();
    $bq(document).ready(function () {
        $bq(".product_sizes_checkbox").on("change", function () {
            if ($bq(this).prop('checked') == false) {
                $bq(this).next().next().val("");
            }
            priceCalculation();
        });

        $bq(".product_sizes_checkbox_qty").on("click", function () {
            $bq(this).prev().prev().prop("checked", true);
            priceCalculation();
        });

        $bq(".product_sizes_checkbox_qty").on("blur", function () {
            if ($bq(this).val() != "") {
                priceCalculation();
            } else {
                $bq(this).prev().prev().prop("checked", false);
            }
        });

        var finalQtyTotal = 0;
        var QtyTotal = 0;
        $bq(".product_size").keyup(function () {
            QtyTotal += parseInt($bq(this).val());
        });
        finalQtyTotal = QtyTotal;


        $bq("#product_sizes_total").val(finalQtyTotal);
    });

    function priceCalculation() {
        var totalQty = 0;
        $bq(".product_sizes_checkbox_qty").each(function () {
            if ($bq(this).val() != "") {
                totalQty = parseInt(totalQty) + parseInt($bq(this).val());
            }
        });
        if (parseInt(totalQty) > 0) {

            if (parseInt(totalQty) < parseInt(20)) {
                $bq(".minimum_qty_validation").show();
                $bq(this).addClass("validate-number-range");
            } else {
                $bq(".minimum_qty_validation").hide();
                $bq(this).removeClass("validate-number-range");
            }

            $bq(".product_sizes_checkbox_qty_total").val(parseInt(totalQty));
            $bq(".product_sizes_checkbox").each(function () {
                $bq(this).removeClass("validate-one-required");
                $bq(this).next().next().removeClass('required-entry product_size', 'validate-greater-than-zero', 'validation-failed');
            });
        } else {
            $bq(".product_sizes_checkbox").each(function () {
                $bq(this).addClass("validate-one-required");
                $bq(this).next().next().addClass('required-entry product_size', 'validate-greater-than-zero');
                $bq(this).parent().find(".validation-advice").remove();
            });
            $bq(".product_sizes_checkbox_qty_total").val(parseInt(totalQty));
        }
    }

//<![CDATA[
    var contactForm = new VarienForm('bulkinquiryForm', true);
//]]>
</script>