<!--@subject Contact Form@-->
<!--@vars
{"var data.name":"Sender Name",
"var data.email":"Sender Email",
"var data.telephone":"Sender Telephone",
"var data.comment":"Comment"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
<html>
    <body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
        <div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
            <table cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <td align="center" valign="top" style="padding:20px 0 20px 0">
                        <!-- [ header starts here] -->
                        <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650">
                            <tr>
                                <td valign="top" align="center">
                                    <a href="{{store url=''}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a></td>
                            </tr>
                            <!-- [ middle starts here] -->
                            <tr>
                                <td valign="top">
                                    <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Hi {{var cust_name}},</h1><br/>
                                    <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Thank you for Bulk Inquiry. We will be contact you ASAP.</p><br/>
                                    <p style="font-size:12px; line-height:16px; margin:0;">If you have any questions about any other matter, please feel free to contact us at <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a>.</p>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Thank you again, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>