<?php if (Mage::helper('customer')->isCodOtpVerifcationEnabled() && !Mage::getSingleton('customer/session')->isLoggedIn()) : ?>
    <script type="text/javascript">
        var OtpUtils = new OtpUtils({
            orderUrl: '<?php echo $this->getUrl('sms/checkout/order') ?>'
        });
    </script>
    <div id="otp_varification" class="white-popup mfp-with-anim mfp-hide">
        <form class="" action="" id="otp_varification_form" onsubmit="return false;">
            <div class = "otp_lbl">
                <span>OTP Varification</span>
                <span class="please-wait" id="opt-please-wait" style="display: none;margin-right: 10px;">
                    <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>"  class="v-middle">
                </span>
            </div>
            <div id="otp_message" style="display:none;text-align:center;text-transform:capitalize;">
            </div>
            <div class="txtbox form-list" style="margin-top:10px;">
                <input class="text-otp input-text required" autocomplete="off" type="text" name="otp_code" id="otp_code" placeholder="OTP">
            </div>
            <div class="txtbox form-list" style="margin-top:10px;">
                <button type="submit" class="button verify_otp"><span><span>Verify</span></span></button>&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="submit" class="button resend_otp"><span><span>Resend</span></span></button>
            </div>   
            <div class="otp_note">
                <span><strong>Note :- OTP Code Sent on your billing mobile number.</strong></span>
            </div>
        </form>
    </div>
<?php endif; ?>