<?php if( $this->getConfig('enabled') && ($this->getConfig('left')) ): ?>
	<?php
		function cut_string_vertbestsellerscrollerl($string,$number){
			if(strlen($string) <= $number) {
				return $string;
			}
			else {	
				if(strpos($string," ",$number) > $number){
					$new_space = strpos($string," ",$number);
					$new_string = substr($string,0,$new_space)."..";
					return $new_string;
				}
				$new_string = substr($string,0,$number)."..";
				return $new_string;
			}
		}
	?>
	<?php $this->getProducts() ?>
	<?php $_productCollection=$this->getProductCollection() ?>
	<div class="ma-bestseller-vertscroller-wrap category-products"> 
		<?php				
			$width_slider = $this->getConfig('width_scroller');
			$height_slider = $this->getConfig('height_scroller');
			$items = $this->getConfig('items');
			$height_item = $height_slider/$this->getConfig('items_show');
			$qty = $this->getConfig('qty');
			if ( !$this->getConfig('width_thumbnail') ){
				$w_thumbnail = 55;
			} else {
				$w_thumbnail = $this->getConfig('width_thumbnail');
			}
			if( !$this->getConfig('height_thumbnail') ){
				$h_thumbnail = 55;
			 }
			else {
				$h_thumbnail = $this->getConfig('height_thumbnail');
			}
		?>
		<?php if($this->getConfig('title')){?>
			<div class="ma-bestseller-vertscroller-title"><h2><?php echo $this->getConfig('title')?></h2></div>
		<?php }?>
		<?php if(!$_productCollection->count()): ?> <!-- start if exist product -->
			<div class="ma-bestseller-vertscoller-content">			
				<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
			</div>
		<?php else: ?>
			<div class="ma-bestseller-vertscoller-content">			
				<ul id ="ma-bestseller-vertscroller-left" class="jcarousel jcarousel-skin-tango bestseller-vertscroller">
					<?php $_collectionSize = $_productCollection->count() ?>
					<?php if( !$this->getConfig('items') ) { $_columnCount = 1 ; } else { $_columnCount = $this->getConfig('items'); }?>
					<?php $i=1; foreach ($_productCollection as $_product): ?>
						<li class="item <?php if($i==1): ?> first<?php elseif($i == $_collectionSize): ?> last<?php endif; ?>" style="width: <?php echo $width_slider; ?>px; height: <?php echo $height_item; ?>px;">			              
                                                     <div class="item-inner">
                                                        <div class="box-item">
                                                            <div class="products">
                                                                <article class="product">
                                                                <figure>
                                                                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" class="product-image">
                                                                            <div class="product-image">
                                                                                <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize(300,188); ?>" width="500" height="500" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                                                                            </div>
                                                                            <div class="product-image image-rotator">
                                                                                <?php
                                                                                $product = Mage::getModel('catalog/product')->load($_product->getId());
                                                                                if ($product->getRotatorImage() && $product->getRotatorImage() != 'no_selection') {
                                                                                    $image = Mage::helper('catalog/image')->init($product, 'rotator_image')->keepFrame(false)->resize(300,188);
                                                                                    ?>
                                                                                    <img src="<?php echo $image ?>" width="500" height="500" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                                                                            <?php } ?>
                                                                            </div>
                                                                            <?php if ($this->getConfig('addtowishlist')): ?>
                                                                                <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                                                                    <div class="image-wishlist">
                                                                                        <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><img title="Save to Wishlist" src="<?php echo $this->getSkinUrl('images/wishlist.png'); ?>" /></a>
                                                                                    </div>
                                                                            <?php endif; ?>
                                                                        <?php endif; ?>
                                                                        <?php /* <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize($w_thumbnail, $h_thumbnail); ?>" width="<?php echo $w_thumbnail?>" height="<?php echo $h_thumbnail?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" /> */ ?>
                                                                    </a>
                                                                    
                                                                    
                                                          <?php /*   <div class="box-bestseller">
								<h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a></h2>
								<?php $i++; ?>
								<?php if ( $this->getConfig('review') ): ?>
									<?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
								<?php endif; ?>
								
								<?php if( $this->getConfig('price') ): ?>
								<?php echo $this->getPriceHtml($_product, true) ?>
								<?php endif; ?>
								<div class="actions">
									<?php if ($this->getConfig('addtocart')) { ?>
										<?php if($_product->isSaleable()): ?>
											<button type="button" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('+ Add to Cart') ?></span></span></button>
										<?php else: ?>
											<p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
										<?php endif; ?>
									<?php }?>
									<?php if( $this->getConfig('addtowishlist') || $this->getConfig('addtocompare')){?>
										<ul class="add-to-links">
											<?php if( $this->getConfig('addtowishlist')){?>
											<?php if ($this->helper('wishlist')->isAllow()) : ?>
												<li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('+ Wishlist') ?></a></li>
											<?php endif; ?>
											<?php } ?>
											<?php if( $this->getConfig('addtocompare') ){?>
											<?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
												<li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('+ Compare') ?></a></li>
											<?php endif; ?>
											<?php }?>
										</ul>
									<?php }?>
									<?php if( $this->getConfig('description')){?>
										<div class="ma-desc">
											<?php if(!$this->getConfig('maxlength')){?>
												<?php echo nl2br($this->htmlEscape($_product->getShortDescription())) ?>
											<?php } else {?>
												<?php echo nl2br(cut_string_vertbestsellerscrollerl($this->htmlEscape($_product->getShortDescription()),$this->getConfig('maxlength'))) ?>			            
											<?php }?>			                    
										</div>
									<?php }?>
								</div>
							</div> */ ?>
                                                       </figure>
                                                    </article>
                                                </div>             
                                    <!-- Start Code -->    
                                    <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_product->getName(); ?></a></h2>
                                    <div class="review-price">
                                        <?php if ($this->getConfig('review')): ?>
                                            <?php if ($_product->getRatingSummary()): ?>
                                                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                                            <?php endif; ?>
                                        <?php endif; ?>
            <?php if ($this->getConfig('show_price')) { ?>
                <?php echo $this->getPriceHtml($_product, true) ?>
                                            <?php } ?>
                                    </div>
                                    <?php if ($this->getConfig('show_price')) { ?>
                                    <div class="price-label">
                                        <div class="box-price-hover">
                                            <?php echo $this->getPriceHtml($_product, true) ?>
                                        </div>
                                    </div>
                                    <?php } ?>
                                    <div class="item-box-hover">
                                        <div class="actions">
                                            <?php if ($_product->isSaleable()): ?>
                                                    <?php $productName = $_product->getName(); ?>
                                                    <?php $productUrl = $_product->getProductUrl(); ?>
                                                    <?php $productImage = $_product->getImageUrl() ?>
                                                <?php if ($this->getConfig('addtocart')) { ?>
                                                        <button type="button" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('+ Add to Cart') ?></span></span></button>
                                                <?php } ?>
                                                <ul class="product_social_like">
                                                    <li>
                                                        <a href="javascript:popWin('https://plus.google.com/share?url=<?php echo urlencode($productUrl); ?>', 'google', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="<?php echo $this->__('Share on Google Plus') ?>">
                                                            <img src="<?php echo $this->getSkinUrl('images/gplus.png', array('_secure' => true)); ?>" />
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:popWin('https://www.facebook.com/sharer/sharer.php?u=<?php echo urlencode($productUrl); ?>&t=<?php echo urlencode($productName); ?>', 'facebook', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="<?php echo $this->__('Share on Facebook') ?>">
                                                            <img src="<?php echo $this->getSkinUrl('images/facebook.png', array('_secure' => true)); ?>" />
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:popWin('http://twitter.com/home/?status=<?php echo urlencode($productName . ' (' . $productUrl . ')'); ?>', 'twitter', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="<?php echo $this->__('Tweet') ?>">
                                                            <img src="<?php echo $this->getSkinUrl('images/twitter.png', array('_secure' => true)); ?>" />
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:popWin('https://pinterest.com/pin/create/button/?url=<?php echo urlencode($productUrl); ?>&media=<?php echo urlencode($productImage); ?>&description=<?php echo urlencode($productName); ?>', 'pinterest', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="<?php echo $this->__('Pin it') ?>">
                                                            <img src="<?php echo $this->getSkinUrl('images/pinterest.png', array('_secure' => true)); ?>" />
                                                        </a>
                                                    </li>
                                                </ul>
                                            <?php else: ?>
                                                <p class="availability out-of-stock"><span><?php echo $this->__('Coming Soon') ?></span></p>
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                    <!-- End Code -->
                                                        </div>
                                                     </div>
						</li>
					<?php endforeach ?>
				</ul>
				<script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
				<script type="text/javascript">
				//<![CDATA[
					$jq(document).ready(function() {						
						$jq('#ma-bestseller-vertscroller-left').jcarousel({
							vertical: true,
							wrap: 'circular',
							auto: <?php echo $this->getConfig('auto') ?>,
							animation: <?php echo $this->getConfig('animation') ?>,
							scroll: <?php echo $this->getConfig('items_scroll') ?>
						});
						$jq(".ma-bestseller-vertscroller-wrap .jcarousel-container-vertical, .ma-bestseller-vertscroller-wrap .jcarousel-clip-vertical")
							.css("width","<?php echo $width_slider; ?>px")
							.css("height","<?php echo $height_slider; ?>px");							
					});
				//]]>
				</script>
			</div>		
		<?php endif; ?>
	</div>
<?php endif; ?>