
<div class="block block-layered-nav" style="margin-top:35px;">
    <div class="block-title">
        <strong><span>Shop by</span></strong>
    </div>
    <div class="block-content">
        <dl id="narrow-by-list">
            <!--<dt class="odd">Categories</dt>-->
            <dd class="odd">
                <ol>
                    <?php
                    $categories = Mage::getModel('catalog/category')
                            ->getCollection()
                            ->addAttributeToSelect('*')
                            ->addIsActiveFilter();
                    
                    if (count($categories) > 0) {
                        foreach ($categories as $keys => $values) {
                            if ($values->getLevel() == 2){
                                $id = (int) $values->getId();
                                if ($id != 9 && $id != 11) {
                                    ?>
                                    <li>
                                        <a href="<?= $values->getUrl(); ?>"><?= $values->getName(); ?></a> 
                                    </li>
                                    <?php
                                }
                            }
                        }
                    }
                    ?>
                    <!-- li>
                        <a href="<?php echo $this->getUrl().'bulk-inquiry' ?>">Bulk Inquiry</a> 
                    </li-->
                </ol>
            </dd>
            <!-- dt class="odd">Hoodies</dt>
            <dd class="odd">
                <p style="margin-left:10px;">Cooming Soon</p>
            </dd-->
            <dt class="odd">Laptop Sleeves</dt>
            <dd class="odd">
                <p style="margin-left:10px;">Cooming Soon</p>
            </dd>
        </dl>
    </div>
</div>
<?php

function cut_string($string, $number) {
    if (strlen($string) <= $number) {
        return $string;
    } else {
        if (strpos($string, " ", $number) > $number) {
            $new_space = strpos($string, " ", $number);
            $new_string = substr($string, 0, $new_space) . "..";
            return $new_string;
        }
        $new_string = substr($string, 0, $number) . "..";
        return $new_string;
    }
}
?>
<?php if ($this->getConfig('enabled')) { // start enable module  ?> 
    <?php $this->getProducts() ?>
    <?php $_productCollection = $this->getProductCollection();
    ?>
    <div class="ma-featured-products">  <!-- start mt products list -->
        <?php if ($this->getConfig('title')) { ?>
            <div class="ma-featured-product-title"><h2><?php echo $this->getConfig('title') ?></h2></div>
        <?php } ?>
                <?php if (!$_productCollection->count()): ?> <!-- start if exist product -->
            <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
        <?php else: ?>
            <div class="featured-products category-products">
                <?php $_collectionSize = $_productCollection->count() ?>
                <?php
                if (!$this->getConfig('items')) {
                    $_columnCount = 1;
                } else {
                    $_columnCount = $this->getConfig('items');
                }
                ?>
                <?php
                $i = 0;
                foreach ($_productCollection as $_product):
                    ?>
                    <?php if ($i++ % $_columnCount == 0): ?>
                        <ul class="products-grid <?php if ($i == 1) echo ' first'; ?>">
                        <?php endif ?>
                        <?php
                        if (!$this->getConfig('width')) {
                            $w = 135;
                        } else {
                            $w = $this->getConfig('width');
                        }
                        if (!$this->getConfig('height')) {
                            $h = 135;
                        } else {
                            $h = $this->getConfig('height');
                        }
                        ?>
                        <li class="item<?php if (($i - 1) % $_columnCount == 0): ?> first<?php elseif ($i % $_columnCount == 0): ?> last<?php endif; ?>">
                            <div class="item-inner">
                                <div class="box-item">
                                    <div class="products">
                                        <article class="product">
                                            <figure>
                                                <?php
                                                if ($_product->isSaleable()):
                                                    $productUrl = $_product->getProductUrl();
                                                else:
                                                    $productUrl = "javascript:void(0)";
                                                endif;
                                                ?>
                                                <a href="<?php echo $productUrl ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" class="product-image">
                                                    <div class="product-image">
                                                        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize(250, 337); ?>" width="250" height="337" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                                                    </div>
                                                    <div class="product-image image-rotator">
                                                        <?php
                                                        $product = Mage::getModel('catalog/product')->load($_product->getId());
                                                        if ($product->getRotatorImage() && $product->getRotatorImage() != 'no_selection') {
                                                            $image = Mage::helper('catalog/image')->init($product, 'rotator_image')->keepFrame(false)->resize(293, 337);
                                                            ?>
                                                            <img src="<?php echo $image ?>" width="293" height="337" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                                                        <?php } ?>
                                                    </div>
                                                    <?php if ($this->getConfig('addtowishlist')): ?>
                                                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                                            <div class="image-wishlist">
                                                                <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><img title="Save to Wishlist" src="<?php echo $this->getSkinUrl('images/wishlist.png'); ?>" /></a>
                                                            </div>
                                                        <?php endif; ?>
                                                    <?php endif; ?>
                                                    <?php /* <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($w,$h); ?>" width="<?php echo $w?>" height="<?php echo $h?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" /> */ ?>
                                                </a>

                                                <div class="box-feature" style="display:none;">
                                                    <h2 class="product-name"><a href="<?php echo $productUrl ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a></h2>
                                                    <?php if ($this->getConfig('review')): ?>
                                                        <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                                                    <?php endif; ?>
                                                    <?php if ($this->getConfig('show_price')) { ?>
                                                        <?php echo $this->getPriceHtml($_product, true) ?>
                                                    <?php } ?>
                                                    <div class="actions" style="display:none;">
                                                        <?php if ($this->getConfig('addtocart')) { ?>
                                                            <?php if ($_product->isSaleable()): ?>
                                                                <button type="button" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('+ Add to Cart') ?></span></span></button>
                                                            <?php else: ?>
                                                                <p class="availability out-of-stock"><span><?php echo $this->__('Coming Soon') ?></span></p>
                                                            <?php endif; ?>
                                                        <?php } ?>
                                                        <?php if ($this->getConfig('addtowishlist') || $this->getConfig('addtocompare')) { ?>
                                                            <ul class="add-to-links">
                                                                <?php if ($this->getConfig('addtowishlist')) { ?>
                                                                    <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                                                        <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('+ Wishlist') ?></a></li>
                                                                    <?php endif; ?>
                                                                <?php } ?>
                                                                <?php if ($this->getConfig('addtocompare')) { ?>
                                                                    <?php if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
                                                                        <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('+ Compare') ?></a></li>
                                                                    <?php endif; ?>
                                                                <?php } ?>
                                                            </ul>
                                                        <?php } ?>
                                                    </div>
                                                    <?php if ($this->getConfig('description')) { ?>
                                                        <div class="ma-desc">
                                                            <?php if (!$this->getConfig('maxlength')) { ?>
                                                                <?php echo nl2br($this->htmlEscape($_product->getShortDescription())) ?>
                                                            <?php } else { ?>
                                                                <?php echo nl2br(cut_string($this->htmlEscape($_product->getShortDescription()), $this->getConfig('maxlength'))) ?>			            
                                                            <?php } ?>			                    
                                                        </div>
                                                    </div>
                                                <?php } ?>
                                            </figure>
                                        </article>
                                    </div>  
                                    <!-- Start Code -->    
                                    <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_product->getName(); ?></a></h2>
                                    <div class="review-price">
                                        <?php if ($this->getConfig('review')): ?>
                                            <?php if ($_product->getRatingSummary()): ?>
                                                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                                            <?php endif; ?>
                                        <?php endif; ?>
                                        <?php if ($this->getConfig('show_price')) { ?>
                                            <?php echo $this->getPriceHtml($_product, true) ?>
                                        <?php } ?>
                                    </div>
                                    <?php if ($this->getConfig('show_price')) { ?>
                                        <div class="price-label">
                                            <div class="box-price-hover">
                                                <?php echo $this->getPriceHtml($_product, true) ?>
                                            </div>
                                        </div>
                                    <?php } ?>
                                    <div class="item-box-hover">
                                        <div class="actions">
                                            <?php if ($_product->isSaleable()): ?>
                                                <?php $productName = $_product->getName(); ?>
                                                <?php $productUrl = $_product->getProductUrl(); ?>
                                                <?php $productImage = $_product->getImageUrl() ?>
                                                <?php if ($this->getConfig('addtocart')) { ?>
                                                    <button type="button" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('+ Add to Cart') ?></span></span></button>
                                                <?php } ?>
                                                <ul class="product_social_like">
                                                    <li>
                                                        <a href="javascript:popWin('https://plus.google.com/share?url=<?php echo urlencode($productUrl); ?>', 'google', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="<?php echo $this->__('Share on Google Plus') ?>">
                                                            <img src="<?php echo $this->getSkinUrl('images/gplus.png', array('_secure' => true)); ?>" />
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:popWin('https://www.facebook.com/sharer/sharer.php?u=<?php echo urlencode($productUrl); ?>&t=<?php echo urlencode($productName); ?>', 'facebook', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="<?php echo $this->__('Share on Facebook') ?>">
                                                            <img src="<?php echo $this->getSkinUrl('images/facebook.png', array('_secure' => true)); ?>" />
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:popWin('http://twitter.com/home/?status=<?php echo urlencode($productName . ' (' . $productUrl . ')'); ?>', 'twitter', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="<?php echo $this->__('Tweet') ?>">
                                                            <img src="<?php echo $this->getSkinUrl('images/twitter.png', array('_secure' => true)); ?>" />
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:popWin('https://pinterest.com/pin/create/button/?url=<?php echo urlencode($productUrl); ?>&media=<?php echo urlencode($productImage); ?>&description=<?php echo urlencode($productName); ?>', 'pinterest', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="<?php echo $this->__('Pin it') ?>">
                                                            <img src="<?php echo $this->getSkinUrl('images/pinterest.png', array('_secure' => true)); ?>" />
                                                        </a>
                                                    </li>
                                                </ul>

                                            <?php else: ?>
                                                <p class="availability out-of-stock"><span><?php echo $this->__('Coming Soon') ?></span></p>
                                                    <?php endif; ?>
                                        </div>
                                    </div>
                                    <!-- End Code -->
                                </div>
                            </div>


                        </li>
                        <?php if ($i % $_columnCount == 0 || $i == $_collectionSize): ?>
                        </ul>
                    <?php endif ?> <!--  -->
                <?php endforeach ?>
                <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd', 'even', 'first', 'last'])</script>				
            </div>		
        <?php endif; ?> <!-- end exist product -->
    </div> <!-- end products list -->
<?php } ?>


