<?php $StoreData = $this->getStoreData(); ?>
<div class="store_listing_div">
<p style="font-size:18px;"><b>Store Name :</b> <?= $StoreData['name'] ?></p>
<div class="main-content" style="margin-bottom:20px;">
    <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "/CY_Store/" . $StoreData['image'] ?>" style="width:100%;height:350px" /> 
</div>
<?php
$OptionArray = $this->toOptionArray();
?>
<?php echo $this->getChildHtml('store_list'); ?>
<div class="footer_content" style="clear: both;float: left;margin-top: 20px;">
    <p><?= $StoreData['description'] ?></p>
</div>

<style type="text/css">
    .category-products .products-grid ul.product_social_like{
        margin-left: 60px;
    }
</style>
</div>