<div id="messages_product_view"><?php echo $this->getMessagesBlock()->toHtml() ?></div>
<div class="page-title">
    <h1><?php echo Mage::helper('institutionstore')->__('Your Store') ?></h1>
</div>
<div class="main-content" style="margin-top:20px;">
    <img src="<?php echo $this->getSkinUrl('/lib/institutionstore/images/institution.jpg'); ?>" style="width:100%;height:350px" /> 
</div>
<form action="<?php echo $this->getFormAction(); ?>" id="searchForm" method="post" onsubmit="checkStoreFormData(this);">
    <div class="fieldset">
        <div class="store_message"></div>
        <ul class="form-list">
            <li class="fields">
                <div class="fields">
                    <div class="input-box">
                        <!--onblur="storeLossFocus(event);"-->
                        <input type="text" name="store_name"  id="store_name" autocomplete="off" placeholder="Store Name..." onkeypress="SearchInstitution()" class="input-text required-entry " />
                        <input type="hidden" value="" name="store_key" id="store_key" class="input-text" />
                        <div id="store_search_container">
                        </div>
                    </div>
                </div>
            </li>   
        </ul>
        <ul class="form-list store_filter_devider">
            <li class="fields">OR</li>
        </ul>
        <ul class="form-list">   
            <?php /* <li class="wide">
              <div class="input-box">
              <input type="radio" checked="checked" name="storetype" id="storetype" class="input-radio" value="1" /> School
              <input type="radio" name="storetype" id="storetype" class="input-radio" value="2"/>  Collage
              <input type="radio" name="storetype" id="storetype" class="input-radio" value="3"/>  Organisation
              </div>
              </li> */ ?>
            <li class="fields">

                <div class="field store_title"><h2><?php echo Mage::helper('institutionstore')->__('Select your Store') ?></h2></div>
                <div class="field">
                    <div class="input-box">
                        <select name="city" id="store_city" class="input-text required-entry" onchange="getInstitution()">
                            <option value="">Select City</option>
                            <?php foreach ($this->getCityCollection() as $keys => $values) { ?>
                                <option value="<?php echo $keys; ?>"><?php echo $values; ?></option>
                            <?php } ?>
                        </select>
                    </div>
                </div>
                <div class="field">
                    <div class="input-box">
                        <select id="institute" name="institute" class="input-text required-entry">
                            <option value="">Select Store</option>
                        </select>
                    </div>
                </div> 

            </li>
            <li class="fields">
                <div class="field" style="margin: 5px 0;">
                    <div class="input-box">
                        <button type="submit" title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('institutionstore')->__('Search')) ?>" class="button"><span><span><?php echo Mage::helper('institutionstore')->__('Search') ?></span></span></button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</form>
<script type="text/javascript">
//<![CDATA[
    var searchForm = new VarienForm('searchForm', true);
//]]>
</script>
<style type="text/css">
    #institute,#store_city{
        border: 2px solid #ddd;
        border-radius: 4px 0 0 4px;
        font-weight: bold;
        height: 35px;
        width: 260px;
    }
    .store_title h2{
        font-size: 25px;
        font-weight: bold;
        width: auto;
    }
    .store_title{
        width: 210px !important;
    }
    #institute option {
        padding: 2px;
    }
    .store_filter_devider{
        text-align: center;
        font-weight: bold;
        font-size: 17px;
        margin: 10px 0px;
    }
    #store_search_container{
        display:none;   
    }
    .store_filter_list {
        background-color: #fff;
        border: 1px solid #ddd;
        float: left;
        position: absolute;
        width: 254px;
    }
    .store_filter_list li{
        border-bottom: 1px solid #ddd;
        cursor: pointer;
        float: left;
        margin: 0;
        padding: 1% 2%;
        width: 100%;
    }
    .store_filter_list > li:hover {
        background-color: #ddd;
    }
    .store_filter_list li:last-child{
        border:0px;
        margin:0px; 
    }
    #searchForm .store_searching{
        background: url("<?php echo $this->getSkinUrl() ?>/images/opc-ajax-loader.gif") no-repeat scroll 0 0;
        background-position: 98% 50%;
    }
    #searchForm #store_name{
        border-radius: 2px;
        height: 28px;
        padding: 0 4px;
    }
</style>