<?php
/*
  This Form for View of Institution.
 * made by Nikhil Jain
 * 
 *  */


$data = $this->getInstitution();
$city_name = Mage::getSingleton('institution/status')->getCities();
$statuses = Mage::getSingleton('institution/status')->getOptionArray();
?>

<div class="content-header skip-header" id="content_header">
    <table cellspacing="0">
        <tr>
            <td><h3 id="content_header_text"><?php echo "Details Of ".$data['institution_name']; ?></h3></td>
            <td class="form-buttons">
                <div class="back-button">
                    <button onclick="history.back();" class="button" title="<?php echo $this->__('Back') ?>" type="button">
                        <span>
                            <span><?php echo $this->__('Back') ?></span>
                        </span>
                    </button>
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="box-left">
    <!--Order Information-->
    <div class="entry-edit">
        
        <div class="fieldset">
            <h3>Institute Information</h3>
            <table cellspacing="0" class="form-list">
                <tr>
                    <td class="label"><label><?php echo Mage::helper('institution')->__('Institute Name') ?></label></td>
                    <td class="value"><strong><?php echo $data['institution_name']; ?></strong></td>
                </tr>

                <tr>
                    <td class="label"><label><?php echo Mage::helper('institution')->__('City Name') ?></label></td>
                    <td class="value"><strong><span id="order_status"><?php echo $city_name[$data['city_name']] ?></span></strong></td>
                </tr>
                <tr>
                    <td class="label"><label><?php echo Mage::helper('institution')->__('Institute Phone Number') ?></label></td>
                    <td class="value"><strong><?php echo $data['institution_phone_number'] ?></strong></td>
                </tr>
                <tr>
                    <td class="label"><label><?php echo Mage::helper('institution')->__('Institution Email Id') ?></label></td>
                    <td class="value"><strong><?php echo $data['institution_email_id'] ?></strong></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="box-right">
    <!--Order Information-->
    <div class="entry-edit">
        
        <div class="fieldset">
            <h3>Committee Information</h3>
            <table cellspacing="0" class="form-list">
                <tr>
                    <td class="label"><label><?php echo Mage::helper('institution')->__('Committee Name') ?></label></td>
                    <td class="value"><strong><?php echo $data['committee_name']; ?></strong></td>
                </tr>

                <tr>
                    <td class="label"><label><?php echo Mage::helper('institution')->__('Committee Phone Number') ?></label></td>
                    <td class="value"><strong><span id="order_status"><?php echo $data['committee_phone_number'] ?></span></strong></td>
                </tr>
                <tr>
                    <td class="label"><label><?php echo Mage::helper('institution')->__('Committee Email Id') ?></label></td>
                    <td class="value"><strong><?php echo $data['committee_email_id'] ?></strong></td>
                </tr>
            </table>
            <br>
            <br>
                
        </div>
    </div>
</div>
<div class="box-left">
    <!--Order Information-->
    <div class="entry-edit">
        
        <div class="fieldset">
            <h3>Prinicipal Information</h3>
            <table cellspacing="0" class="form-list">
                <tr>
                    <td class="label"><label><?php echo Mage::helper('institution')->__('Principal Name') ?></label></td>
                    <td class="value"><strong><?php echo $data['principal_name']; ?></strong></td>
                </tr>

                <tr>
                    <td class="label"><label><?php echo Mage::helper('institution')->__('Principal Phone Number') ?></label></td>
                    <td class="value"><strong><span id="order_status"><?php echo $data['principal_phone_number'] ?></span></strong></td>
                </tr>
                <tr>
                    <td class="label"><label><?php echo Mage::helper('institution')->__('Principal Email Id') ?></label></td>
                    <td class="value"><strong><?php echo $data['principal_email_id'] ?></strong></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="box-right">
    <!--Order Information-->
    <div class="entry-edit">
        
        <div class="fieldset">
            <h3>General Information</h3>
            <table cellspacing="0" class="form-list">
                
                <tr>
                    <td class="label"><label><?php echo Mage::helper('institution')->__('Created Date') ?></label></td>
                    <td class="value"><strong><span id="order_status"><?php echo date('d-M-Y H:i', strtotime($data['created_time']));?></span></strong></td>
                </tr>
                
            </table>
        </div>
    </div>
</div>