<?php
/*
  This Form for View of Quote.
 * made by Nikhil Jain
 * 
 *  */


$data = $this->getQuote();
$city_name = Mage::getSingleton('quote/status')->getCities();
$statuses = Mage::getSingleton('quote/status')->getOptionArray();
?>

<div class="content-header skip-header" id="content_header">
    <table cellspacing="0">
        <tr>
            <td><h3 id="content_header_text"><?php echo $this->getHeaderText(); ?></h3></td>
            <td class="form-buttons">
                <div class="back-button">
                    <button onclick="history.back();" class="button" title="<?php echo $this->__('Back') ?>" type="button">
                        <span>
                            <span><?php echo $this->__('Back') ?></span>
                        </span>
                    </button>
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="box-full">
    <!--Order Information-->
    <div class="entry-edit">
        
        <div class="fieldset">
            <h3>Quote Information</h3>
            <table cellspacing="0" class="form-list">
                <tr>
                    <td class="label"><label><?php echo Mage::helper('quote')->__('Name') ?></label></td>
                    <td class="value"><strong><?php echo $data['quote_name']; ?></strong></td>
                </tr>
                <tr>
                    <td class="label"><label><?php echo Mage::helper('quote')->__('Phone Number') ?></label></td>
                    <td class="value"><strong><?php echo $data['quote_phone_number'] ?></strong></td>
                </tr>
                <tr>
                    <td class="label"><label><?php echo Mage::helper('quote')->__('Email Id') ?></label></td>
                    <td class="value"><strong><?php echo $data['quote_email_id'] ?></strong></td>
                </tr>
                <tr>
                    <td class="label"><label><?php echo Mage::helper('quote')->__('Message') ?></label></td>
                    <td class="value"><strong><?php echo $data['message'] ?></strong></td>
                </tr>
                <tr>
                    <td class="label"><label><?php echo Mage::helper('quote')->__('Created Date') ?></label></td>
                    <td class="value"><strong><?php echo date('d-M-Y H:i', strtotime($data['created_time'])); ?></strong></td>
                </tr>
            </table>
        </div>
    </div>
</div>
