<?php
$title = $this->getTitle();
$description = $this->getDescription();
$identify = $this->getIdentify();
$categoryIds = $this->getCatIds();
$categoryIds = explode(',', $categoryIds);
$_helper = $this->helper('catalog/output');
$productsOnRow = $this->getProductsOnRow();

$show_price = Mage::getStoreConfig('categorytabs/categorytabs_config/show_price');
$review = Mage::getStoreConfig('categorytabs/categorytabs_config/show_review');
$addtowishlist = Mage::getStoreConfig('categorytabs/categorytabs_config/addtowishlist');
$addtocompare = Mage::getStoreConfig('categorytabs/categorytabs_config/addtocompare');
$addtocart = Mage::getStoreConfig('categorytabs/categorytabs_config/addtocart');

if (!$productsOnRow)
    $productsOnRow = 3;
if (!$this->getWidthThumbnail()) {
    $w_thumbnail = 135;
} else {
    $w_thumbnail = $this->getWidthThumbnail();
}
if (!$this->getHeightThumbnail()) {
    $h_thumbnail = 135;
} else {
    $h_thumbnail = $this->getHeightThumbnail();
}
?>

<div class="container-tab">
    <div class="box-category">
        <div class="tab-title"><?php echo '<h2>' . $title . '</h2>'; ?></div>
        <?php /*
          <ul class="tabs tabs<?php echo '-'.$identify;?>">
          <?php
          $k = 0;
          foreach($categoryIds as $cate_id) {
          $cate_model = Mage::getModel('catalog/category');
          $cateName = $cate_model->load($cate_id)->getName();

          if($cateName) {
          ?>
          <li class="<?php if($k==0){ echo "active"; }?>" rel="tab<?php echo $cate_id.'-'.$identify;?>"><?php  echo $cateName; ?></li>
          <?php }  $k++; } ?>
          </ul> */ ?>
    </div>
    <div class="tab_container category-products"> 
        <?php foreach ($categoryIds as $cate_id) { ?>
            <div id="tab<?php echo $cate_id . '-' . $identify; ?>" class="tab_content_<?php echo $identify; ?>"> 
                <?php $_productCollection = $this->getProductCate($cate_id); ?>
                <?php $_collectionSize = $_productCollection->count() ?>
                <?php $_columnCount = $productsOnRow; ?>
                <?php $i = 0;
                foreach ($_productCollection as $_product): ?>
        <?php if ($i++ % $_columnCount == 0): ?>
                        <ul class="products-grid row">

        <?php endif ?>

                        <li class="col-md-5 col-sm-6 col-lg-4 col-sms-4 item<?php if (($i - 1) % $_columnCount == 0): ?> first<?php elseif ($i % $_columnCount == 0): ?> last<?php endif; ?>">
                            <div class="item-inner">
                                <!--<div class="box-item">-->
                                <div class="products">
                                    <article class="product">
                                        <figure>
                                            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                                                <div class="product-image">
                                                    <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize(500); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />
                                                </div>
                                                <div class="product-image image-rotator">
                                                    <?php
                                                    $product = Mage::getModel('catalog/product')->load($_product->getId());
                                                    if ($product->getRotatorImage() && $product->getRotatorImage() != 'no_selection') {
                                                        $image = Mage::helper('catalog/image')->init($product, 'rotator_image')->keepFrame(false)->resize(500);
                                                        ?>
                                                        <img src="<?php echo $image ?>" width="500" height="500" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                                                <?php } ?>
                                                </div>
                                                <?php if ($addtowishlist): ?>
                                                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                                        <div class="image-wishlist">
                                                            <a  href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><img title="Save to Wishlist"  src="<?php echo $this->getSkinUrl('images/wishlist.png'); ?>" /></a>
                                                        </div>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                            </a>

                                            <?php /* <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
                                            <?php if ($show_price) { ?>
                                                <?php echo $this->getPriceHtml($_product, true) ?>
                                            <?php } ?>
                                            <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                                            <div class="actions" style="display:none;">
                                                <div class="cart-content">
                                                    <?php if ($_product->isSaleable()): ?>
                                                        <button type="button" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('+ Add to Cart') ?></span></span></button>
                                                    <?php else: ?>
                                                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                                        <?php endif; ?>
                                                    <ul class="add-to-links">
                                                        <?php if ($addtowishlist) { ?>
                                                            <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                                                <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('+ Wishlist') ?></a></li>
                                                            <?php endif; ?>
                                                        <?php } ?>
                                                        <?php if ($addtocompare) { ?>
                                                            <?php if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
                                                                <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('+ Compare') ?></a></li>
                                                            <?php endif; ?>
        <?php } ?>
                                                    </ul>
                                                </div>
                                            </div> */ ?>
                                        </figure>
                                    </article>
                                </div>

                                <!-- Start Code -->    

                                <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_product->getName(); ?></a></h2>
                                <div class="review-price">
                                    <?php if ($review): ?>
                                        <?php if ($_product->getRatingSummary()): ?>
                                            <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                    <?php if ($show_price) { ?>
                                        <?php echo $this->getPriceHtml($_product, true) ?>
                                    <?php } ?>
                                </div>
                                <?php if($show_price){?>
                                    <div class="price-label">
                                        <div class="box-price-hover">
                                            <?php echo $this->getPriceHtml($_product, true) ?>
                                        </div>
                                    </div>
                                <?php } ?>
                                <div class="item-box-hover">
                                    <div class="actions">
                                        <?php if ($_product->isSaleable()): ?>
                                            <?php $productName = $_product->getName(); ?>
                                            <?php $productUrl = $_product->getProductUrl(); ?>
                                            <?php $productImage = $_product->getImageUrl() ?>
                                            <?php if ($addtocart){ ?>
                                                <button type="button" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('+ Add to Cart') ?></span></span></button>
                                            <?php } ?>
                                            <ul class="product_social_like">
                                                <li>
                                                    <a href="javascript:popWin('https://plus.google.com/share?url=<?php echo urlencode($productUrl); ?>', 'google', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="<?php echo $this->__('Share on Google Plus') ?>">
                                                        <img src="<?php echo $this->getSkinUrl('images/gplus.png', array('_secure' => true)); ?>" />
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:popWin('https://www.facebook.com/sharer/sharer.php?u=<?php echo urlencode($productUrl); ?>&t=<?php echo urlencode($productName); ?>', 'facebook', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="<?php echo $this->__('Share on Facebook') ?>">
                                                        <img src="<?php echo $this->getSkinUrl('images/facebook.png', array('_secure' => true)); ?>" />
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:popWin('http://twitter.com/home/?status=<?php echo urlencode($productName . ' (' . $productUrl . ')'); ?>', 'twitter', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="<?php echo $this->__('Tweet') ?>">
                                                        <img src="<?php echo $this->getSkinUrl('images/twitter.png', array('_secure' => true)); ?>" />
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:popWin('https://pinterest.com/pin/create/button/?url=<?php echo urlencode($productUrl); ?>&media=<?php echo urlencode($productImage); ?>&description=<?php echo urlencode($productName); ?>', 'pinterest', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="<?php echo $this->__('Pin it') ?>">
                                                        <img src="<?php echo $this->getSkinUrl('images/pinterest.png', array('_secure' => true)); ?>" />
                                                    </a>
                                                </li>
                                            </ul>

                                            <?php else: ?>
                                                <p class="availability out-of-stock"><span><?php echo $this->__('Coming Soon') ?></span></p>
                                            <?php endif; ?>
                                    </div>
                                </div>

                                <!-- End Code -->    
                                <!--</div>-->
                            </div>
                        </li>

        <?php if ($i % $_columnCount == 0 || $i == $_collectionSize): ?>

                        </ul>
                    <?php endif ?>
            <?php endforeach ?>
            </div><!-- #tab1 -->
<?php } ?>


    </div> <!-- .tab_container --> 

</div> <!-- #container -->

<script type="text/javascript">

    $jq(document).ready(function () {

        $jq(".tab_content_<?php echo $identify; ?>").hide();
        $jq(".tab_content_<?php echo $identify; ?>:first").show();

        $jq("ul.tabs<?php echo '-' . $identify; ?> li").click(function () {
            $jq("ul.tabs<?php echo '-' . $identify; ?> li").removeClass("active");
            $jq(this).addClass("active");
            $jq(".tab_content_<?php echo $identify; ?>").hide();
            var activeTab = $jq(this).attr("rel");
            $jq("#" + activeTab).fadeIn();
        });
    });

</script> 
