<?php
/*
  This Form for View of Quote.
 * made by Nikhil Jain
 * 
 *  */

$data = $this->getBulkinquiry();
//echo "<pre>";
//print_r($data);
//die();
?>
<div class="content-header skip-header" id="content_header">
    <table cellspacing="0">
        <tr>
            <td><h3 id="content_header_text"><?php echo $this->getHeaderText(); ?></h3></td>
            <td class="form-buttons">
                <div class="back-button">
                    <button onclick="history.back()" class="button" title="<?php echo $this->__('Back') ?>" type="button">
                        <span>
                            <span><?php echo $this->__('Back') ?></span>
                        </span>
                    </button>
                </div>
            </td>
        </tr>
    </table>
</div>
<?php
$product_type = array("1" => "T-shirt", "2" => "Cap", "3" => "Hoodie", "4" => "Trousers");
$product_option = array("1" => "Round Neck T-Shirt", "2" => "Polo T-Shirts", "3" => "Sweat Shirt / Hoodie");
$value_addition = array("1" => "Embroidery", "2" => "Graphic Print");
$image_extension = array("gif", "jpeg", "jpg", "png");
$Imagepath = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "Bulkinquiry/";
?>
<div class="box-full">
    <!--Order Information-->
    <div class="entry-edit">
        <div class="fieldset">
            <h3 class="legend">Product Information</h3>
            <table cellspacing="0" class="form-list">
                <tr>
                    <td>
                        <table cellspacing="0" class="form-list" style="width:500px;">
                            <tr>
                                <td class="label"><label><?php echo Mage::helper('bulkinquiry')->__('Product Type : ') ?></label></td>
                                <td class="value"><?php echo $product_type[$data['product_type']]; ?></td>
                            </tr>
                            <tr>
                                <td class="label"><label><?php echo Mage::helper('bulkinquiry')->__('Product Option : ') ?></label></td>
                                <td class="value"><?php echo $product_type[$data['product_option']]; ?></td>
                            </tr>
                            <?php /* <tr>
                                <td class="label"><label><?php echo Mage::helper('bulkinquiry')->__('Color : ') ?></label></td>
                                <td class="value"><?php echo $data['product_color']; ?></td>
                            </tr>*/ ?>
                            <tr>
                                <td class="label"><label><?php echo Mage::helper('bulkinquiry')->__('Product Size : ') ?></label></td>
                                <td class="value">
                                    <table width="150">
                                        <?php
                                        if ($data['product_sizes'] != "") {
                                            $dataArray = json_decode($data['product_sizes'], true);
                                            ?>
                                            <tr>
                                                <th>No.</th>
                                                <th>Size</th>
                                                <th>Qty</th>
                                            </tr>
                                            <?php
                                            foreach ($dataArray as $keys => $values) {
                                                if ($keys != "total" && $values['size'] != "") {
                                                    ?>
                                                    <tr>
                                                        <td><b><?= $keys; ?></b></td>
                                                        <td><?= $values['size']; ?></td>
                                                        <td align="center"><?= $values['qty']; ?></td>
                                                    </tr>
                                                    <?php
                                                }
                                            }
                                            ?>
                                            <tr>
                                                <td colspan="2"><b>Total Qty</b></td>
                                                <td align="center"><b><?= $data['total_qty']; ?></b></td>
                                            </tr>
                                        <?php }
                                        ?>
                                    </table>
                                </td>
                            </tr>

                        </table>
                    </td>
                    <td style="border-right:1px solid #ddd;">
                        &nbsp;
                    </td>
                    <td>
                        <table cellspacing="0" class="form-list" style="width:700px;margin-left: 32px;float: left;">
                            <tr>
                                <td class="label"><label><?php echo Mage::helper('bulkinquiry')->__('Value Addition : ') ?></label></td>
                                <td class="value">
                                    <table width="200">
                                        <?php
                                        if ($data['product_addition'] != "") {
                                            $dataArray = json_decode($data['product_addition'], true);
                                            ?>
                                            <tr>
                                                <th>Type</th>
                                                <th>Allowed</th>
                                            </tr>
                                            <?php foreach ($dataArray as $keys => $values) { ?>
                                                <tr>
                                                    <td><b><?= $value_addition[$keys]; ?></b></td>
                                                    <td>
                                                        <?php
                                                        echo ucfirst(implode(",", array_keys($values)));
                                                        ?>
                                                    </td>
                                                </tr>
                                                <?php
                                            }
                                        }
                                        ?>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="label"><label><?php echo Mage::helper('bulkinquiry')->__('Attachment : ') ?></label></td>
                                <td class="value">
                                    <table width="200">
                                        <tr>
                                            <?php
                                            if ($data['product_attachment'] != "") {
                                                $dataArray = json_decode($data['product_attachment'], true);
                                                ?>
                                                <?php
                                                foreach ($dataArray as $keys => $values) {
                                                    $array = explode('.', $values);
                                                    $extension = end($array);
                                                    if (in_array($extension, $image_extension)) {
                                                        ?>
                                                        <td>
                                                            <a href="<?= $Imagepath . $values; ?>" rel="lightbox" target="_blank">
                                                                <img src="<?= $Imagepath . $values; ?>" width="50" height="50" />
                                                            </a></td>
                                                        <?php
                                                    } else {
                                                        ?>
                                                        <td><a href="<?= $Imagepath . $values; ?>" target="_blank">Attachment<?= $keys; ?></a></td>
                                                        <?php
                                                    }
                                                }
                                            }
                                            ?>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="label"><label><?php echo Mage::helper('bulkinquiry')->__('Additional Information : ') ?></label></td>
                                <td class="value"><?= $data['information'] ?></td>
                            </tr>
                            <tr>
                                <td class="label"><label><?php echo Mage::helper('bulkinquiry')->__('Created Date : ') ?></label></td>
                                <td class="value"><?php echo date('d-M-Y H:i', strtotime($data['created_at'])); ?></td>
                            </tr>

                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div class="fieldset">
            <h3>Contact Information</h3>
            <table cellspacing="0" class="form-list">
                <tr>
                    <td class="label"><label><?php echo Mage::helper('bulkinquiry')->__('Name : ') ?></label></td>
                    <td class="value"><?php echo $data['name']; ?></td>
                </tr>
                <tr>
                    <td class="label"><label><?php echo Mage::helper('bulkinquiry')->__('Email Id : ') ?></label></td>
                    <td class="value"><?php echo $data['email_id']; ?></td>
                </tr>
                <tr>
                    <td class="label"><label><?php echo Mage::helper('bulkinquiry')->__('State : ') ?></label></td>
                    <td class="value"><?php echo $data['state']; ?></td>
                </tr>
                <tr>
                    <td class="label"><label><?php echo Mage::helper('bulkinquiry')->__('City : ') ?></label></td>
                    <td class="value"><?php echo $data['city']; ?></td>
                </tr>
                <tr>
                    <td class="label"><label><?php echo Mage::helper('bulkinquiry')->__('Contact No : ') ?></label></td>
                    <td class="value"><?php echo $data['contact_no']; ?></td>
                </tr>
                <tr>
                    <td class="label"><label><?php echo Mage::helper('bulkinquiry')->__('Delivery Location : ') ?></label></td>
                    <td class="value"><?php echo $data['delivery_location']; ?></td>
                </tr>
                <tr>
                    <td class="label"><label><?php echo Mage::helper('bulkinquiry')->__('Message : ') ?></label></td>
                    <td class="value"><?php echo $data['message']; ?></td>
                </tr>
            </table>    
        </div>      
    </div>
</div>
<style type="text/css">
    .form-list td.label label{
        font-weight:bold;
    }
</style>