<?php if ($this->getConfig('enabled')) { // start enable module ?>
    <?php $this->getProducts() ?>
    <?php $_productCollection = $this->getProductCollection() ?>
    <div class="ma-newproductslider-container category-products">
        <?php
        if (!$this->getConfig('width_thumbnail')) {
            $w_thumbnail = 135;
        } else {
            $w_thumbnail = $this->getConfig('width_thumbnail');
        }
        if (!$this->getConfig('height_thumbnail')) {
            $h_thumbnail = 135;
        } else {
            $h_thumbnail = $this->getConfig('height_thumbnail');
        }
        ?>
        <?php if ($this->getConfig('title')) { ?>
            <div class="ma-newproductslider-title"><h2><?php echo $this->getConfig('title') ?></h2></div>
        <?php } ?>
        <?php if (!$_productCollection->count()): ?> 
            <div class="ma-newproductslider">	
                <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
            </div>
        <?php else: ?>

            <ul class="bxslider products-grid">
                <?php $_collectionSize = $_productCollection->count() ?>
                <?php $i = 0;
                foreach ($_productCollection as $_product): ?>
                    <li class="newproductslider-item item">
                        <div class="item-inner">
                            <div class="box-item">
                                <div class="product-content">
                                    <div class="products">
                                        <article class="product">
                                            <figure> 
                                                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                                                    <div class="product-image">
                                                        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize(250,337); ?>" width="250" height="337" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                                                    </div>
                                                    <div class="product-image image-rotator">
                                                        <?php
                                                        $product = Mage::getModel('catalog/product')->load($_product->getId());
                                                        if ($product->getRotatorImage() && $product->getRotatorImage() != 'no_selection') {
                                                            //$imageTooltipResize = $this->getResizedUrl($imagetTooltip,600,400);
                                                            $image = Mage::helper('catalog/image')->init($product, 'rotator_image')->keepFrame(false)->resize(250,337);
                                                        } else {
                                                            $image = Mage::helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize(250, 337);
                                                        }
                                                        ?>
                                                        <img src="<?php echo $image ?>" width="250" height="337" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                                                    </div>			
                                                    <div class="image-wishlist">
                                                        <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><img title="Save to Wishlist" src="<?php echo $this->getSkinUrl('images/wishlist.png'); ?>" /></a>
                                                    </div>
                                                </a>
                                            </figure>
                                        </article>
                                    </div>
                                </div>
                                <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a></h2>
                                <div class="review-price">
                                    <?php if ($this->getConfig('show_price')): ?>
                                        <?php echo $this->getPriceHtml($_product, true) ?>
                                    <?php endif; ?>
                                    <?php if ($this->getConfig('review')): ?>
                                        <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                                    <?php endif; ?>
                                </div>
                                <?php if ($this->getConfig('show_price')) { ?>
                                    <div class="price-label">
                                        <div class="box-price-hover">
                                            <?php echo $this->getPriceHtml($_product, true) ?>
                                        </div>
                                    </div>
                                    <?php } ?>
                                <div class="item-box-hover">
                                    <div class="box-inner">
                                        <?php if ($this->getConfig('addtocart')) { ?>
                                            <?php if ($_product->isSaleable()): ?>
                                                <?php $productName = $_product->getName(); ?>
                                                <?php $productUrl = $_product->getProductUrl(); ?>
                                                <?php $productImage = $_product->getImageUrl() ?>
                                                <button type="button" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('+ Add to Cart') ?></span></span></button>
                                                <ul class="product_social_like">
                                                    <li>
                                                        <a href="javascript:popWin('https://plus.google.com/share?url=<?php echo urlencode($productUrl); ?>', 'google', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="<?php echo $this->__('Share on Google Plus') ?>">
                                                            <img  src="<?php echo $this->getSkinUrl('images/gplus.png', array('_secure' => true)); ?>" />
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:popWin('https://www.facebook.com/sharer/sharer.php?u=<?php echo urlencode($productUrl); ?>&t=<?php echo urlencode($productName); ?>', 'facebook', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="<?php echo $this->__('Share on Facebook') ?>">
                                                            <img src="<?php echo $this->getSkinUrl('images/facebook.png', array('_secure' => true)); ?>" />
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:popWin('http://twitter.com/home/?status=<?php echo urlencode($productName . ' (' . $productUrl . ')'); ?>', 'twitter', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="<?php echo $this->__('Tweet') ?>">
                                                            <img src="<?php echo $this->getSkinUrl('images/twitter.png', array('_secure' => true)); ?>" />
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:popWin('https://pinterest.com/pin/create/button/?url=<?php echo urlencode($productUrl); ?>&media=<?php echo urlencode($productImage); ?>&description=<?php echo urlencode($productName); ?>', 'pinterest', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="<?php echo $this->__('Pin it') ?>">
                                                            <img src="<?php echo $this->getSkinUrl('images/pinterest.png', array('_secure' => true)); ?>" />
                                                        </a>
                                                    </li>
                                                </ul>
                                            <?php else: ?>
                                                <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                            <?php endif; ?>
                                        <?php } ?>

                                        <?php /* <div class="actions">
                                          <?php if( $this->getConfig('addtowishlist') || $this->getConfig('addtocompare') ){?>
                                          <ul class="add-to-links">
                                          <?php if( $this->getConfig('addtowishlist')): ?>
                                          <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                          <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('+ Wishlist') ?></a></li>
                                          <?php endif; ?>
                                          <?php endif; ?>
                                          <?php if( $this->getConfig('addtocompare')): ?>
                                          <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                                          <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('+ Compare') ?></a></li>
                                          <?php endif; ?>
                                          <?php endif; ?>
                                          </ul>
                                          <?php }?>
                                          </div> */ ?>
                                    </div>
                                </div>
                                <?php if ($this->getConfig('description')) { ?>
                                    <div class="ma-desc">
                                        <?php if (!$this->getConfig('maxlength')) { ?>
                                            <?php echo nl2br($this->htmlEscape($_product->getShortDescription())) ?>
                                        <?php } else { ?>
                                            <?php echo nl2br($this->cut_string_newproductslider($this->htmlEscape($_product->getShortDescription()), $this->getConfig('maxlength'))) ?>			            
                                        <?php } ?>			                    
                                    </div>
                                <?php } ?>
                                <?php $i++; ?>
                            </div>
                        </div>
                    </li>                    
                <?php endforeach; ?>
            </ul>

            <script type="text/javascript">
                $jq(document).ready(function () {
                    $jq('.ma-newproductslider-container .bxslider').bxSlider(
                    {
        <?php if ($this->getConfig('auto')) { ?>
                        auto: true,
        <?php } ?>
                    speed: <?php echo $this->getConfig('speed') ?>,
                            pause: <?php echo $this->getConfig('interval') ?>,
                            minSlides: 1,
                            maxSlides: <?php echo $this->getConfig('items_show') ?>,
                            slideWidth: <?php echo $this->getConfig('item_width') ?>,
                            slideMargin: 30,
                            infiniteLoop:false,
        <?php if ($this->getConfig('nav_ctrl')) { ?>
                        pager: true,
        <?php } else { ?>
                        pager:false,
        <?php } ?>
        <?php if ($this->getConfig('next_back')) { ?>
                        controls: true,
        <?php } else { ?>
                        controls:false
        <?php } ?>
                }
                );
                });
            </script>

        <?php endif; ?> 
    </div> 
<?php } ?>