<script type="text/javascript">
    $jq(document).ready(function(){
         var enable_module = $jq('#enable_module').val();
         if(enable_module==0) return false;
    })

</script>
<?php $_cartQty = $this->getSummaryCount() ?>
<div id ="mini_cart_block">
    <div class="block-cart mini_cart_ajax">
            <div class="block-cart">
                <?php $_cartQty = $this->getSummaryCount() ?>
                <!-- div class="top-cart-title">
                    <div class="shopping_cart"><?php echo $this->__('shopping cart') ?></div>
                    <div class="shopping_cart_mobile"><?php echo $this->__('cart') ?></div>
                  <span><span><?php echo $_cartQty; ?> <?php if($_cartQty>1) { echo $this->__('items'); } else { echo $this->__('item'); } ?></span> - <?php echo Mage::helper('checkout')->formatPrice($this->getSubtotal()) ?></span>
                </div -->
                <div class="cart_arrow"></div>
                <div class="top-cart-content">
                    <?php $_items = $this->getRecentItems() ?>
                    <?php if (count($_items)): ?>
                        <ol id="cart-sidebar" class="mini-products-list">
                            <?php foreach ($_items as $_item): ?>
                                <?php echo $this->getItemHtml($_item) ?>
                            <?php endforeach; ?>
                        </ol>
                        <script type="text/javascript">decorateList('cart-sidebar', 'none-recursive')</script>
                    <?php else: ?>
                        <p class="empty"><?php echo $this->__('You have no items in your shopping cart.') ?></p>
                    <?php endif ?>
                    <div class="cart-bottom">
                        <div class="subtotal-title"><?php echo $this->__('Subtotal') ?></div>
                    <div class="top-subtotal"> <?php echo Mage::helper('checkout')->formatPrice($this->getSubtotal()) ?></div>
                    <?php if ($_cartQty && $this->isPossibleOnepageCheckout()): ?>
                        <div class="actions">
                            <?php echo $this->getChildHtml('extra_actions') ?>
                            <?php $cartUrl = $this->getUrl("checkout/cart"); ?> 
                            <?php //echo $this->getCheckoutUrl(); ?> 
                            <button type="button" title="<?php echo $this->__('Checkout') ?>" class="button" onclick="setLocation('<?php echo $cartUrl ?>')"><span><span><?php echo $this->__('Checkout') ?></span></span></button>
                        </div>
                    <?php endif ?>
                    </div>
                </div>
            </div>

    </div>
</div>
