<?php
$className = Mage::getConfig()->getBlockClassName('custommenu/custommenu');
$block = new $className();
$_menu = $block->renderCategoriesMenuHtml(0, 'level-top')
?>
<?php if ($_menu): ?>
    <div class="ma-nav-mobile-container visible-xs">
        <div class="container">
            <div class="navbar">
                <div id="navbar-inner" class="navbar-inner navbar-inactive">
                    <div class="menu-mobile">
                        <a class="btn btn-navbar navbar-toggle">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <span class="brand navbar-brand"><?php echo $this->__('Categories') ?></span>
                    </div>
                    <ul id="ma-mobilemenu" class="mobilemenu nav-collapse collapse">
                        <?php echo $_menu ?>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<?php endif ?>

<?php $_categories = Mage::helper('catalog/category')->getStoreCategories() ?>
<?php if (count($_categories)):
    ?>
    <div class="nav-container visible-lg visible-md">
        <!--<div class="container">-->
        <div class="container_navigation">
            <div id="pt_custommenu" class="pt_custommenu">
                <?php
                /* $showhome = Mage::getStoreConfig('custommenu/general/showhome');
                  $active = '';
                  if (Mage::getSingleton('cms/page')->getIdentifier() == 'ma_sagitta_home' && Mage::app()->getFrontController()->getRequest()->getRouteName() == 'cms') :
                  $active = ' act';
                  endif;
                  if ($showhome) {
                  $id = "_home";
                  $html[] = '<div id="pt_menu' . $id . '" class="pt_menu' . $active . '">';
                  $html[] = '<div class="parentMenu">';
                  $html[] = '<a href="' . Mage::helper('core/url')->getHomeUrl() . '">';
                  $html[] = '<span>Home</span>';
                  $html[] = '</a>';
                  $html[] = '</div>';
                  //            $html[] = '<div id="popup' . $id . '" class="popup" style="display: none; width: 1228px;">';
                  //            $html[] = '</div>';
                  $html[] = '</div>';
                  $html = implode("\n", $html);
                  echo $html;
                  }
                 */
                $className = Mage::getConfig()->getBlockClassName('custommenu/custommenu');
                $block = new $className();
                //$block->_prepareData();

                $sid = "_shop";
                $html[] = '<div id="pt_menu' . $sid . '" class="pt_menu' . $active . '">';
                $html[] = '<div class="parentMenu">';
                $html[] = '<a href="javascript:void(0)">';
                $html[] = '<span>Shop</span>';
                $html[] = '</a>';
                $html[] = '</div>';
                $html[] = '<div id="popup' . $id . '" class="popup cmsblock" style="display: none; width:904px;">';
                $html[] = '<div class="arrow-menu" id="arrow-menu' . $id . '">';
                $html[] = '</div>';
                $html[] = '<div class="box-menu" id="box-menu' . $id . '">';
                $html[] = '<div class="block2" id="block2' . $id . '">';
                $html[] = '<div class="block2" id="block2' . $id . '">';
                $html[] = '<div class="static_custom_block">';
                $html[] = '<div class="menu-custom-block col">
                        <div class="custom-block-title">
                        <h2>All</h2>
                        </div>';

                $html[] = '<ul>';
                $item = 0;
                foreach ($_categories as $_category):
                    $id = (int) $_category->getId();

                    if ($id != 9 && $id != 11) {

                        $item++;
                        if (!$_category->getIsActive())
                            return '';
                        $active = '';
                        if ($block->isCategoryActive($_category))
                            $active = ' act';

                        $html[] = '<li id="pt_menu' . $id . '" class="pt_menu' . $active . ' nav-' . $item . '">';
                        // --- Top Menu Item ---
                        //$html[] = '<div class="parentMenu">';
                        $html[] = '<a href="' . $block->getCategoryUrl($_category) . '">';
                        $name = $this->escapeHtml($_category->getName());
                        $name = str_replace(' ', '&nbsp;', $name);
                        $html[] = '<span>' . $name . '</span>';
                        $html[] = '</a>';
                        //$html[] = '</div>';
                        $html[] = '</li>';
                        ?>
                        <?php // echo $block->drawCustomMenuItem($_category,0,false,$item)  ?>
                        <?php
                    }
                endforeach
                ?>
                <?php
                $html[] = '</ul>';
                $html[] = '</div>';

                // Complete all category Div

                $main_categories = Mage::getModel('catalog/category')->load(9);
                if ($main_categories->getIsActive()) {
                    $categoryName = $this->escapeHtml($main_categories->getName());
                    $categoryName = str_replace(' ', '&nbsp;', $categoryName);

                    $html[] = '<div class="menu-custom-block col1">
                    <div class="custom-block-title">
                    <h2>' . $categoryName . '</h2>
                    </div>';

                    $html[] = '<ul>';
                    $item = 0;
                    $_categories = Mage::getModel('catalog/category')->getCategories(9);
                    foreach ($_categories as $_category):
                        $id = (int) $_category->getId();
                        $item++;
                        if (!$_category->getIsActive())
                            return '';
                        $active = '';
                        if ($block->isCategoryActive($_category))
                            $active = ' act';

                        $html[] = '<li id="pt_menu' . $id . '" class="pt_menu' . $active . ' nav-' . $item . '">';
                        // --- Top Menu Item ---
                        //$html[] = '<div class="parentMenu">';
                        $html[] = '<a href="' . $block->getCategoryUrl($_category) . '">';
                        $name = $this->escapeHtml($_category->getName());
                        $name = str_replace(' ', '&nbsp;', $name);
                        $html[] = '<span>' . $name . '</span>';
                        $html[] = '</a>';
                        //$html[] = '</div>';
                        $html[] = '</li>';
                        ?>
                    <?php endforeach ?>
                    <?php
                    $html[] = '</ul>';
                    $html[] = '</div>';
                    $html[] = '</div>';
                }
                $html[] = '</div>';
                // Complete wear wear your story

                $html[] = '</div>';
                $html[] = '</div>';
                $html[] = '</div>';
                $html[] = '</div>';
                $html = implode("\n", $html);
                echo $html;


                $html = array();
                $html[] = '<div id="pt_menu_link" class="pt_menu">';
                $html[] = '<div class="parentMenu"><ul><li>';
                $html[] = '<a class="popup-with-zoom-anim" href="#small-dialog">';
                $html[] = 'Your Campus';
                $html[] = '</a></li></ul>';
                $html[] = '</div>';
                $html[] = '</div>';
                $html = implode("\n", $html);
                echo $html;
                ?>
                <?php
//                $collection = Mage::getModel('cms/block')->getCollection()
//                        ->addFieldToFilter('identifier', array('like' => 'pt_item_menu' . '%'))
//                        ->addFieldToFilter('is_active', 1);
//                foreach ($collection as $key => $value) {
//                    $blockId = $value->getIdentifier();
//                    $blockHtml = $this->getLayout()->createBlock('cms/block')->setBlockId($blockId)->toHtml();
//                    if ($blockHtml)
//                        echo $block->drawCustomMenuBlock($blockId);
//                }

                /* menu links */
                $blockLinkId = 'pt_menu_links';
                $blockLinkHtml = $this->getLayout()->createBlock('cms/block')->setBlockId($blockLinkId)->toHtml();
                if ($blockLinkHtml) {
                    $id = "_link";
                    $htmlLink[] = '<div id="pt_menu' . $id . '" class="pt_menu">';
                    $htmlLink[] = '<div class="parentMenu">';
                    $htmlLink[] = $blockLinkHtml;
                    $htmlLink[] = '</div>';
                    $htmlLink[] = '</div>';
                    $htmlLink = implode("\n", $htmlLink);
                    echo $htmlLink;
                }
                ?>

                <div class="clearBoth"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    //<![CDATA[
        var CUSTOMMENU_POPUP_EFFECT = <?php echo (int) Mage::getStoreConfig('custommenu/popup/effect') ?>;
        var CUSTOMMENU_POPUP_TOP_OFFSET = <?php echo (int) Mage::getStoreConfig('custommenu/popup/top_offset') ?>;
    //]]>
    </script>

    <?php
 endif ?>
    
<div id="small-dialog" class="zoom-anim-dialog mfp-hide cooming_soon_Popup">
<h1>Search Your Campus</h1>
<?php echo $this->getLayout()->createBlock('custommenu/custommenu')->setTemplate('magentothem/custommenu/your_campus.phtml')->toHtml() ?>
</div>