<div id="messages_product_view"><?php echo $this->getMessagesBlock()->toHtml() ?></div>
<div class="page-title">
    <h1><?php echo Mage::helper('custommenu')->__('Your Campus') ?></h1>
</div>
<div class="main-content" style="margin-top:20px;">
    <img src="<?php echo $this->getSkinUrl('/lib/institutionstore/images/institution.jpg'); ?>" style="width:100%;height:350px" /> 
</div>
<?php
//echo "<pre>";
//print_r($this->getYourCampusCategories());
//die();
?>
<form action="<?php echo $this->getFormAction(); ?>" id="CampusSearchForm" method="post" onsubmit="findCampus(event)">
    <div class="fieldset">
        <div class="store_message"></div>
        <ul class="form-list">
            <li class="fields">
                <div class="field">
                    <div class="input-box">
                        <!--onblur="storeLossFocus(event);"-->
                        <select name="your_campus" id="your_campus" class="input-text required-entry custom-select">
                            <option value="">Select Campus</option>
                            <?php foreach ($this->getYourCampusCategories() as $keys => $values) { ?>
                                <option value="<?php echo $values['url']; ?>"><?php echo $values['name']; ?></option>
                            <?php } ?>
                        </select>
                    </div>
                </div>
                <div class="field" style="margin: 5px 0;">
                    <div class="input-box">
                        <button type="submit" onclick="findCampus()" title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('custommenu')->__('Search')) ?>" class="button"><span><span><?php echo Mage::helper('institutionstore')->__('Search') ?></span></span></button>
                    </div>
                </div>
            </li>   
        </ul>
    </div>
</form>
<script type="text/javascript">
//<![CDATA[
    var searchForm = new VarienForm('CampusSearchForm', true);
//]]>

    $jQ = jQuery.noConflict();
    $jQ(function () {
        $jQ("#your_campus").customselect();
    });

    function findCampus(event) {
        event.preventDefault();
        $jQ = jQuery.noConflict();
        var campus = $jQ("#your_campus").val();
        location.href = campus;
    }
</script>
<style type="text/css">
    #institute,#store_city{
        border: 2px solid #ddd;
        border-radius: 4px 0 0 4px;
        font-weight: bold;
        height: 35px;
        width: 260px;
    }
    .store_title h2{
        font-size: 25px;
        font-weight: bold;
        width: auto;
    }
    .store_title{
        width: 210px !important;
    }
    #institute option {
        padding: 2px;
    }
    .store_filter_devider{
        text-align: center;
        font-weight: bold;
        font-size: 17px;
        margin: 10px 0px;
    }
    #store_search_container{
        display:none;   
    }
    .store_filter_list {
        background-color: #fff;
        border: 1px solid #ddd;
        float: left;
        position: absolute;
        width: 254px;
    }
    .store_filter_list li{
        border-bottom: 1px solid #ddd;
        cursor: pointer;
        float: left;
        margin: 0;
        padding: 1% 2%;
        width: 100%;
    }
    .store_filter_list > li:hover {
        background-color: #ddd;
    }
    .store_filter_list li:last-child{
        border:0px;
        margin:0px; 
    }
    #CampusSearchForm .store_searching{
        background: url("<?php echo $this->getSkinUrl() ?>/images/opc-ajax-loader.gif") no-repeat scroll 0 0;
        background-position: 98% 50%;
    }
    #CampusSearchForm #store_name{
        border-radius: 2px;
        height: 28px;
        padding: 0 4px;
    }

    #CampusSearchForm  .custom-select{
        width:250px;
        border:1px solid #ddd;
        border-radius:2px;
    }
</style>