<form id="co-otpverify-form" action="">
<fieldset>
    <ul class="form-list">
    <li id="otpverify-form">
        <fieldset>
            <ul>
                <li>
                    <label for="verfication_code" class="required"><em>*</em><?php echo $this->__('Verification Code') ?></label>
                    <div class="input-box">
                        <input type="text" name="verfication_code" id="verfication_code" value="" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Verification Code')) ?>" class="input-text validate-alphanum-with-spaces required-entry" />
                    </div>
                </li>
            </ul>
        </fieldset>
     </li>
    </ul>
    <div class="buttons-set" id="otpverify-buttons-container">
        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
        <p class="back-link"><a href="#" onclick="otpverify.back(); return false;"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
        <button type="button" title="<?php echo $this->__('Continue') ?>" class="button" onclick="otpverify.save()"><span><span><?php echo $this->__('Continue') ?></span></span></button>
        <span class="please-wait" id="otpverify-please-wait" style="display:none;">
            <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Loading next step...') ?>" title="<?php echo $this->__('Loading next step...') ?>" class="v-middle" /> <?php echo $this->__('Loading next step...') ?>
        </span>
    </div>
</fieldset>
</form>
<script type="text/javascript">
//<![CDATA[
    var otpverify = new OtpverifyMethod('co-otpverify-form','<?php echo $this->getUrl('sms/onepage/otpverify') ?>');
    var otpverifyForm = new VarienForm('co-otpverify-form');
//]]>
</script>