<?php
/*
  This Form for Inquiry of Quote.
 * made by Nikhil Jain
 * 
 *  */

$city_name = $this->getCities();

?>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->toHtml() ?></div>
<div class="page-title">
    <h1><?php echo Mage::helper('quote')->__('Get Quick Quote') ?></h1>
</div>
<form action="<?php echo Mage::getUrl('*/*/post');?>" id="quoteForm" method="post">
    <div class="fieldset">
        <h2 class="legend"><?php echo Mage::helper('quote')->__('Quote Information') ?></h2>
        <ul class="form-list">
            <li class="fields">
                <div class="field">
                    <label for="quote_name" class="required"><em>*</em><?php echo Mage::helper('quote')->__('Name') ?></label>
                    <div class="input-box">
                        <input name="quote_name" id="quote_name" title="<?php echo Mage::helper('quote')->__('Name') ?>" value="" class="input-text required-entry" type="text" />
                    </div>
                </div>
                <div class="field">
                    <label for="quote_email_id" class="required"><em>*</em><?php echo Mage::helper('quote')->__('Email') ?></label>
                    <div class="input-box">
                        <input name="quote_email_id" id="quote_email_id" title="<?php echo Mage::helper('quote')->__('Email') ?>" value="" class="input-text required-entry validate-email" type="text" />
                    </div>
                </div>
                
            </li>
            <li>
                <div class="field">
                    <label for="quote_phone_number" class="required"><em>*</em><?php echo Mage::helper('quote')->__('Phone Number') ?></label>
                    <div class="input-box">
                        <input name="quote_phone_number" id="quote_phone_number" title="<?php echo Mage::helper('quote')->__('Phone Number') ?>" value="" class="input-text required-entry validate-digits validate-length maximum-length-10 minimum-length-10" type="text" />
                    </div>
                </div>
                
            </li>
            <li class="wide">
                <label for="message" class="required"><em>*</em><?php echo Mage::helper('quote')->__('Message') ?></label>
                <div class="input-box">
                    <textarea name="message" id="message" title="<?php echo Mage::helper('quote')->__('message') ?>" class="required-entry input-text" cols="5" rows="3"></textarea>
                </div>
            </li>
            
        </ul>
    </div>
    <div class="buttons-set">
        <p class="required"><?php echo Mage::helper('quote')->__('* Required Fields') ?></p>
        <button type="submit" title="<?php echo Mage::helper('quote')->__('Submit') ?>" class="button"><span><span><?php echo Mage::helper('quote')->__('Submit') ?></span></span></button>
    </div>
    
</form>
<script type="text/javascript">
//<![CDATA[
    var contactForm = new VarienForm('quoteForm', true);
//]]>
</script>