<?php
/*
  This Form for Inquiry of Institution.
 * made by Nikhil Jain
 * 
 *  */

$city_name = $this->getCities();
?>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->toHtml() ?></div>
<div class="page-title">
    <h1><?php echo Mage::helper('institution')->__('Add your institution') ?></h1>
</div>
<form action="<?php echo Mage::getUrl('*/*/post'); ?>" id="institutionForm" method="post">
    <div class="fieldset">
        <h2 class="legend"><?php echo Mage::helper('institution')->__('Institute Information') ?></h2>
        <ul class="form-list">
            <li class="fields">
                <div class="field">
                    <label for="institution_name" class="required"><em>*</em><?php echo Mage::helper('institution')->__('Name of the Institute') ?></label>
                    <div class="input-box">
                        <input name="institution_name" id="institution_name" title="<?php echo Mage::helper('institution')->__('Institution Name') ?>" value="" class="input-text required-entry" type="text" />
                    </div>
                </div>
                <div class="field">
                    <label for="city_name"><?php echo Mage::helper('institution')->__('Select City') ?></label>
                    <div class="input-box">
                        <select name="city_name" id="city_name" class="input-text required-entry">
                            <option value="">Select City</option>
                            <?php
                            if (count($city_name) > 0) {
                                foreach ($city_name as $city_id => $cities) {
                                    ?>
                                    <option value="<?php echo $city_id; ?>"><?php echo $cities; ?></option>     

                                    <?php
                                }
                            }
                            ?>

                        </select>
                    </div>
                </div>

            </li>
            <li>

                <div class="field">
                    <label for="institution_phone_number" class="required"><em>*</em><?php echo Mage::helper('institution')->__('Phone Number') ?></label>
                    <div class="input-box">
                        <input name="institution_phone_number" id="institution_phone_number" title="<?php echo Mage::helper('institution')->__('Phone Number') ?>" value="" class="input-text required-entry validate-digits validate-length maximum-length-10 minimum-length-10" type="text" />
                    </div>
                </div>
                <div class="field">
                    <label for="institution_email_id" class="required"><em>*</em><?php echo Mage::helper('institution')->__('Email') ?></label>
                    <div class="input-box">
                        <input name="institution_email_id" id="institution_email_id" title="<?php echo Mage::helper('institution')->__('Email') ?>" value="" class="input-text required-entry validate-email" type="text" />
                    </div>
                </div>

            </li>

        </ul>
    </div>
    <div class="fieldset">
        <h2 class="legend"><?php echo Mage::helper('institution')->__('Contact Information of Committee') ?></h2>
        <ul class="form-list">
            <li class="wide">
                <div class="field">
                    <label for="committee_name"><?php echo Mage::helper('institution')->__('Name of the Committee') ?></label>
                    <div class="input-box">
                        <input name="committee_name" id="committee_name" title="<?php echo Mage::helper('institution')->__('Committee Name') ?>" value="" class="input-text" type="text" />
                    </div>
                </div>
            </li>
            <li>
                <div class="field">
                    <label for="committee_phone_number"><?php echo Mage::helper('institution')->__('Committee Phone Number') ?></label>
                    <div class="input-box">
                        <input name="committee_phone_number" id="committee_phone_number" title="<?php echo Mage::helper('institution')->__('Committee Phone Number') ?>" value="" class="input-text validate-digits validate-length maximum-length-10 minimum-length-10" type="text" />
                    </div>
                </div>
                <div class="field">
                    <label for="committee_email_id"><?php echo Mage::helper('institution')->__('Committee Email') ?></label>
                    <div class="input-box">
                        <input name="committee_email_id" id="committee_email_id" title="<?php echo Mage::helper('institution')->__('Committee Email') ?>" value="" class="input-text validate-email" type="text" />
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="fieldset">
        <h2 class="legend"><?php echo Mage::helper('institution')->__('Principal Information') ?></h2>
        <ul class="form-list">
            <li class="wide">
                <div class="field">
                    <label for="principal_name" class="required"><em>*</em><?php echo Mage::helper('institution')->__('Name of the Principal') ?></label>
                    <div class="input-box">
                        <input name="principal_name" id="principal_name" title="<?php echo Mage::helper('institution')->__('Principal Name') ?>" value="" class="input-text required-entry" type="text" />
                    </div>
                </div>
            </li>
            <li>

                <div class="field">
                    <label for="principal_phone_number" class="required"><em>*</em><?php echo Mage::helper('institution')->__('Principal Phone Number') ?></label>
                    <div class="input-box">
                        <input name="principal_phone_number" id="principal_phone_number" title="<?php echo Mage::helper('institution')->__('Principal Phone Number') ?>" value="" class="input-text required-entry validate-digits validate-length maximum-length-10 minimum-length-10" type="text" />
                    </div>
                </div>
                <div class="field"> 
                    <label for="principal_email_id" class="required"><em>*</em><?php echo Mage::helper('institution')->__('Principal Email') ?></label>
                    <div class="input-box">
                        <input name="principal_email_id" id="principal_email_id" title="<?php echo Mage::helper('institution')->__('Principal Email') ?>" value="" class="input-text required-entry validate-email" type="text" />
                    </div>
                </div>

            </li>

        </ul>
    </div>
    <div class="buttons-set">
        <p class="required"><?php echo Mage::helper('institution')->__('* Required Fields') ?></p>
        <button type="submit" title="<?php echo Mage::helper('institution')->__('Request Now') ?>" class="button"><span><span><?php echo Mage::helper('institution')->__('Request Now') ?></span></span></button>
    </div>

</form>
<script type="text/javascript">
//<![CDATA[
    var institutionForm = new VarienForm('institutionForm', true);
//]]>
</script>